<!-- begin .copy-transaction -->
<div class="copy-transaction">
  <!-- begin .copy-transaction__wrap -->
  <div class="copy-transaction__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Копируйте сделки</span> нескольких трейдеров <span>одновременно</span></h2>
      <p><strong>Создайте свой инвестиционный портфель</strong>, подключив к&nbsp;счету <strong>сразу несколько трейдеров</strong> из&nbsp;рейтинга</p>
    </div>
    <!-- end .intro-box -->

    <!-- begin .copy-transaction__cards -->
    <div class="copy-transaction__cards">
      {% include "components/icon-cards/icon-cards-investor.html" %}
    </div>
    <!-- end .copy-transaction__cards -->
  </div>
  <!-- end .copy-transaction__wrap -->
</div>
<!-- end .copy-transaction -->
