.copy-transaction {

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    @media #{$mobile} {
      max-width: $max-width-sx;
    }
    @media #{$mobile-big} {
      max-width: $max-width-sm;
    }
    @media #{$tablet} {
    }
  }

  &__cards {
    padding-top: 50px;
  }
}
