$number-card-deg:        30px;
$number-card-deg-before: -14deg;

$number-card-deg-icon:    25px;

.number-cards {
  display: flex;
  align-items: stretch;
  align-content: stretch;

  // есть заголовочная строка с иконкой
  &--width-header {

    .number-card {
      height: 270px;

      &:nth-child(1) .number-card__box {
        clip-path: polygon(
          0 0,
          100% 0%,
          calc(100% - #{$number-card-deg-icon}) 100%,
          0% 100%
        );

        .number-card__header-icon {
          width: 100px;

          svg {
            left: -2px;
          }
        }
      }

      &:nth-child(2) .number-card__box {
        clip-path: polygon(
          calc(0% + #{$number-card-deg-icon}) 0,
          100% 0%,
          calc(100% - #{$number-card-deg-icon}) 100%,
          0% 100%
        );
      }

      &:nth-child(3) .number-card__box {
        clip-path: polygon(
          calc(0% + #{$number-card-deg-icon}) 0,
          100% 0%,
          100% 100%,
          0% 100%
        );
      }

      &__box {
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        position: relative;
        padding: 0;

        &:before {
          content: none;
        }
      }

      &__header {
        height: 90px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        align-content: center;

        &-icon {
          width: 120px;
          height: 90px;
          background-color: #EA252C;
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: #ffffff;
          flex-shrink: 0;

          svg {
            position: relative;
            left: 6px;
          }
        }

        &-title {
          height: 100%;
          display: flex;
          align-self: flex-end;
          align-items: flex-end;
          margin-left: 20px;
          height: 100%;
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          padding-right: 10px;
          color: #000000;
        }
      }

      &__body {
        padding: 20px 25px;
        position: relative;
        height: 100%;
      }

      &__number {
        left: 25px;
      }

      &__content {
        padding-top: 10px;
        font-size: 16px;
        line-height: 22px;
        color: #222B34;
      }
    }
  }
}

.number-card {
  font-family: 'Roboto';
  height: 210px;
  position: relative;
  flex: 1;
  // margin-right: 20px;

  &:nth-child(1) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        0 0,
        100% 0%,
        calc(100% - #{$number-card-deg}) 100%,
        0% 100%
      );

      &:before {
        width: 70px;
        left: -10px;
      }
    }
  }

  &:nth-child(2) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        calc(0% + #{$number-card-deg}) 0,
        100% 0%,
        calc(100% - #{$number-card-deg}) 100%,
        0% 100%
      );
      box-shadow: none;
    }
  }

  &:nth-child(3) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        calc(0% + #{$number-card-deg}) 0,
        100% 0%,
        100% 100%,
        0% 100%
      );
      box-shadow: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &__box {
    padding: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 80px;
      height: 30px;
      background-color: #EA252C;
      transform: skewX(#{$number-card-deg-before});
    }
  }

  &__number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 160px;
    color: #E0E4EB;
    z-index: 0;
  }

  &__content {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #222B34;
    padding-left: 100px;
    z-index: 1;

    p {

      &:last-child {
        margin-bottom: auto;
      }

      strong {
        font-weight: bold;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #222B34;
    }

    &-info {
      font-weight: 100;
      margin-top: 10px;
      font-size: 16px;
      line-height: 19px;
      color: #6E7A86;
    }
  }
}
