.h2 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  color: #232D3A;

  & > span,
  &-red {
    color: #EA252C;
  }
}

.intro-box {
  text-align: center;

  .h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #6E7A86;
  }

  p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #222B34;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: bold;
    }
  }

  &.text-left {
    text-align: left;

    .h2,
    p {
      text-align: left;
    }
  }

  &.p-decor {

    .h2 {
      margin-bottom: 40px;

      span {
        display: block;
      }
    }

    p {
      position: relative;
      padding-left: 40px;

      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: #EA252C;
        transform: rotate(120deg);
      }
    }
  }
}
