<!-- begin .text-investor -->
<div class="text-investor">
  <!-- begin .text-investor__wrap -->
  <div class="text-investor__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Получайте доход,</span> не разбираясь в трейдинге</h2>
      <p><strong>Получайте доход</strong> на&nbsp;финансовых рынках, <strong>даже если вы&nbsp;не&nbsp;разбираетесь</strong> в&nbsp;трейдинге. Вам не&nbsp;нужно самостоятельно совершать торговые операции и&nbsp;постоянно мониторить свой счет&nbsp;&mdash; <strong>просто выберите одного или несколько трейдеров с&nbsp;помощью рейтинга доходности и&nbsp;зарабатывайте вместе с&nbsp;ними</strong>.</p>
    </div>
    <!-- end .intro-box -->
  </div>
  <!-- end .text-investor__wrap -->
</div>
<!-- end .text-investor -->
