<!-- begin .text-investor -->
<div class="text-investor">
  <!-- begin .text-investor__wrap -->
  <div class="text-investor__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Получайте доход,</span> не разбираясь в трейдинге</h2>
      <p><strong>Получайте доход</strong> на&nbsp;финансовых рынках, <strong>даже если вы&nbsp;не&nbsp;разбираетесь</strong> в&nbsp;трейдинге. Вам не&nbsp;нужно самостоятельно совершать торговые операции и&nbsp;постоянно мониторить свой счет&nbsp;&mdash; <strong>просто выберите одного или несколько трейдеров с&nbsp;помощью рейтинга доходности и&nbsp;зарабатывайте вместе с&nbsp;ними</strong>.</p>
    </div>
    <!-- end .intro-box -->

    <!-- begin .text-investor__cards -->
    <div class="text-investor__cards">
      <!-- begin .text-investor__left -->
      <div class="text-investor__left js_slider-left">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.523 20.22l17.143 16.902c.762.751 1.905.751 2.667 0 .38-.188.571-.751.571-1.315 0-.563-.19-.939-.571-1.314L5.523 18.906l15.81-15.587c.38-.375.571-.751.571-1.314 0-.564-.19-.94-.571-1.315C20.952.314 20.57.127 20 .127c-.572 0-.953.187-1.334.563L1.523 17.591c-.38.376-.571.752-.571 1.315s.19 1.127.571 1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .text-investor__left -->
      <!-- begin .text-investor__slider -->
      <div class="text-investor__slider advantage-cards advantage-cards--list owl-carousel js_advantage-slider">

        <!-- begin .advantage-cards__item -->
        <div class="advantage-cards__item">
          <div class="advantage-card">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="64" height="62">
                  <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">Сохраняйте полный контроль над своим счетом</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">
                <p>У подключенных трейдеров нет доступа к вашим средствам и персональной информации</p>
              </div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card -->
        </div>
        <!-- end .advantage-cards__item -->
        <!-- begin .advantage-card -->

        <!-- begin .advantage-cards__item -->
        <div class="advantage-cards__item">
          <!-- begin .advantage-card -->
          <div class="advantage-card">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="64" height="62">
                  <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">Будьте в курсе всех сделок, которые совершает трейдер</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">
                <p>В любой момент вы можете закрыть сделку, если считаете ее убыточной, или открыть собственные позиции</p>
              </div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card -->
        </div>
        <!-- end .advantage-cards__item -->

        <!-- begin .advantage-cards__item -->
        <div class="advantage-cards__item">
          <!-- begin .advantage-card -->
          <div class="advantage-card">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="64" height="62">
                  <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">Управляйте копированием сделок в своем Личном кабинете</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">
                <p>Подключайте и отключайте трейдеров в один клик с мобильного устройства, планшета или компьютера</p>
              </div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card -->
        </div>
        <!-- end .advantage-cards__item -->

        <!-- begin .advantage-cards__item -->
        <div class="advantage-cards__item">
          <!-- begin .advantage-card -->
          <div class="advantage-card">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="64" height="62">
                  <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">Выбирайте самых талантливых среди 5000 трейдеров</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">
                <p>Получите полный доступ к истории счета и информации о доходности трейдера, чтобы выбрать наиболее успешного</p>
              </div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card -->
        </div>
        <!-- end .advantage-cards__item -->

        <!-- begin .advantage-cards__item -->
        <div class="advantage-cards__item">
          <!-- begin .advantage-card -->
          <div class="advantage-card">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="64" height="62">
                  <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">Копируйте сделки всех трейдеров с одного счета</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">
                <p>Вам не нужно открывать 10 счетов для копирования сделок 10 трейдеров — достаточно одного счета</p>
              </div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card -->
        </div>
        <!-- end .advantage-cards__item -->

      </div>
      <!-- end .text-investor__slider -->
      <!-- begin .text-investor__right -->
      <div class="text-investor__right js_slider-right">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.332 17.78L4.19.877c-.762-.751-1.904-.751-2.666 0-.381.188-.572.751-.572 1.315 0 .563.19.939.572 1.314l15.81 15.587-15.81 15.587c-.381.376-.572.751-.572 1.315 0 .563.19.938.572 1.314.38.376.762.563 1.333.563s.952-.187 1.333-.563l17.143-16.901c.381-.376.572-.752.572-1.315s-.19-1.127-.572-1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .text-investor__right -->

    </div>
    <!-- end .text-investor__cards -->
  </div>
  <!-- end .text-investor__wrap -->
</div>
<!-- end .text-investor -->
