<!-- begin .partners-steps -->
<div class="partners-steps">
  <!-- begin .partners-steps__bg -->
  <div class="partners-steps__bg"></div>
  <!-- end .partners-steps__bg -->
  <!-- begin .partners-steps__wrap -->
  <div class="partners-steps__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2">Как работает <span>партнерская программа Vizavi</span></h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .partners-steps__cards -->
    <div class="partners-steps__cards number-cards number-cards--width-header">
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__header -->
          <div class="number-card__header">
            <!-- begin .number-card__header-icon -->
            <div class="number-card__header-icon">
              <svg width="54" height="53">
                <use xlink:href="#i_users" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <!-- end .number-card__header-icon -->
            <!-- begin .number-card__header-title -->
            <div class="number-card__header-title">Вы привлекаете клиентов в Vizavi</div>
            <!-- end .number-card__header-title -->
          </div>
          <!-- end .number-card__header -->
          <!-- begin .number-card__body -->
          <div class="number-card__body">
            <!-- begin .number-card__number -->
            <div class="number-card__number">1</div>
            <!-- end .number-card__number -->
            <!-- begin .number-card__content -->
            <div class="number-card__content">
              <p>Используйте свой собственный сайт, блог, страницы в&nbsp;соцсетях или любой другой удобный для вас способ</p>
            </div>
            <!-- end .number-card__content -->
          </div>
          <!-- end .number-card__body -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__header -->
          <div class="number-card__header">
            <!-- begin .number-card__header-icon -->
            <div class="number-card__header-icon">
              <svg width="54" height="40">
                <use xlink:href="#i_graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <!-- end .number-card__header-icon -->
            <!-- begin .number-card__header-title -->
            <div class="number-card__header-title">Привлеченные вами клиенты совершают сделки</div>
            <!-- end .number-card__header-title -->
          </div>
          <!-- end .number-card__header -->
          <!-- begin .number-card__body -->
          <div class="number-card__body">
            <!-- begin .number-card__number -->
            <div class="number-card__number">2</div>
            <!-- end .number-card__number -->
            <!-- begin .number-card__content -->
            <div class="number-card__content">
              <p>Получите доступ к&nbsp;подробной статистике с&nbsp;помощью бесплатной CRM-системы</p>
            </div>
            <!-- end .number-card__content -->
          </div>
          <!-- end .number-card__body -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__header -->
          <div class="number-card__header">
            <!-- begin .number-card__header-icon -->
            <div class="number-card__header-icon">
              <svg width="50" height="41">
                <use xlink:href="#i_cash" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <!-- end .number-card__header-icon -->
            <!-- begin .number-card__header-title -->
            <div class="number-card__header-title">Vizavi выплачивает вам до 50% прибыли</div>
            <!-- end .number-card__header-title -->
          </div>
          <!-- end .number-card__header -->
          <!-- begin .number-card__body -->
          <div class="number-card__body">
            <!-- begin .number-card__number -->
            <div class="number-card__number">3</div>
            <!-- end .number-card__number -->
            <!-- begin .number-card__content -->
            <div class="number-card__content">
              <p>Зарабатывайте вместе с&nbsp;привлеченными клиентами, уделяя работе всего пару часов в&nbsp;день</p>
            </div>
            <!-- end .number-card__content -->
          </div>
          <!-- end .number-card__body -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
    </div>
    <!-- end .partners-steps__cards -->
  </div>
  <!-- end .partners-steps__wrap -->
</div>
<!-- end .partners-steps -->
