<!-- begin .partners-steps -->
<div class="partners-steps">
  <!-- begin .partners-steps__bg -->
  <div class="partners-steps__bg"></div>
  <!-- end .partners-steps__bg -->
  <!-- begin .partners-steps__wrap -->
  <div class="partners-steps__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2">Как работает <span>партнерская программа Vizavi</span></h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .partners-steps__cards -->
    <div class="partners-steps__cards">
      123123
    </div>
    <!-- end .partners-steps__cards -->
  </div>
  <!-- end .partners-steps__wrap -->
</div>
<!-- end .partners-steps -->
