<!-- begin .trading-account -->
<div class="trading-account">
  <!-- begin .trading-account__wrap -->
  <div class="trading-account__wrap">
    <!-- begin .trading-account__content -->
    <div class="trading-account__content text-content">
      <h2 class="h1">Торговые <span>счета Vizavi</span></h2>
      <p><strong class="single-line">Торгуйте валютами, криптовалютами, акциями, товарами, индексами и металлами с одного счета.</strong> Получите лучшие условия для успешного трейдинга, независимо от вашего практического опыта работы на финансовых рынках.</p>
    </div>
    <!-- end .trading-account__content -->

    <!-- begin .trading-account__info -->
    <div class="trading-account__info flex flex-stretch trading-account-info">
      <!-- begin .trading-account__info-item -->
      <div class="trading-account__info-item col-half trading-account-info__action">
        <!-- begin .trading-account-info__header -->
        <div class="trading-account-info__header">
          <!-- begin .trading-account-info__header-icon -->
          <div class="trading-account-info__header-icon">
            <svg width="36" height="36">
              <use xlink:href="#i_type-demo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .trading-account-info__header-icon -->
          <!-- begin .trading-account-info__header-title -->
          <div class="trading-account-info__header-title">Vip</div>
          <!-- end .trading-account-info__header-title -->
        </div>
        <!-- end .trading-account-info__header -->
        <!-- begin .trading-account-info__body -->
        <div class="trading-account-info__body">
          <h3 class="h2 h2-red">Трейдинг на ваших условиях</h3>
          <p>Создавайте уникальные условия торговли, используя специально разработанные сервисы и другие привилегии.</p>
          <p class="box-button"><a href="javascript:void(0);" class="button button-red">Открыть счет</a></p>
        </div>
        <!-- end .trading-account-info__body -->
      </div>
      <!-- end .trading-account__info-item -->
      <!-- begin .trading-account__info-item -->
      <div class="trading-account__info-item col-half trading-account-info__list">
        <ul class="check-in-circle">
          <li>Гарантированное отсутствие предварительной обработки ордеров дилером</li>
          <li>Прямая отправка ордеров в ECN-сеть</li>
          <li>Лучшие цены Bid и Ask от поставщиков ликвидности</li>
          <li>Установка ордеров внутри спреда</li>
          <li>Беспрепятственная торговля на новостях</li>
          <li>Индивидуальный VPS-сервер в одном дата-центре с серверами поставщиков ликвидности </li>
          <li>Персональный аналитик по вопросам торговли и составления стратегий</li>
          <li>Исполнение ордеров под надзором европейского регулятора</li>
        </ul>
      </div>
      <!-- end .trading-account__info-item -->
    </div>
    <!-- end .trading-account__info -->
  </div>
  <!-- end .trading-account__wrap -->
</div>
<!-- end .trading-account -->
