<!-- begin .trading-account -->
<div class="trading-account">
  <!-- begin .trading-account__wrap -->
  <div class="trading-account__wrap">
    <!-- begin .trading-account__content -->
    <div class="trading-account__content text-content">
      <h2 class="h1">Торговые <span>счета Vizavi</span></h2>
      <p><strong class="single-line">Торгуйте валютами, криптовалютами, акциями, товарами, индексами и металлами с одного счета.</strong> Получите лучшие условия для успешного трейдинга, независимо от вашего практического опыта работы на финансовых рынках.</p>
    </div>
    <!-- end .trading-account__content -->
  </div>
  <!-- end .trading-account__wrap -->
</div>
<!-- end .trading-account -->
