.trading-account {

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .single-line {
    display: block;
  }
}


.trading-account-info {
  font-family: 'Roboto';
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;

  &__action {
    background-color: #F3F4F5;
  }

  &__list {
    background-color: #222B34;
    padding: 50px;
  }

  &__body {
    padding: 50px 80px 50px 50px;

    .h2-red {
      font-size: 26px;
      line-height: 34px;
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 29px;
    }

    .box-button {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  &__header {
    height: 90px;
    display: flex;
    align-items: center;
    align-content: center;

    &-icon {
      width: 90px;
      height: 100%;
      background-color: #EA252C;
      clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      color: #ffffff;
    }

    &-title {
      margin-left: 30px;
      height: 100%;
      padding-top: 20px;
      font-weight: bold;
      font-size: 36px;
      line-height: 47px;
      text-transform: uppercase;
      color: #000000;
    }
  }
}

.check-in-circle {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 20px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;

  li {
    padding-left: 40px;
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 0;
      top: 2px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.96.841a.727.727 0 0 0-.8 0c-.16.16-.4.32-.56.56-.4.4-.72.8-1.12 1.2-.24.24-.48.56-.72.8-.64.64-1.2 1.36-1.84 2l-.8.88c-.16.16-.32.32-.48.56l-.16.16-1.12-1.12-1.2-1.2c-.32-.32-.64-.56-1.12-.32-.32.16-.48.32-.48.64-.08.32.08.64.32.96.56.56 1.12 1.12 1.68 1.6l1.2 1.2c.16.16.32.32.56.4.08.08.24.08.32.08.24 0 .48-.16.72-.4.24-.24.48-.56.72-.8s.48-.56.72-.8c.32-.4.64-.72.96-1.12.4-.48.8-.88 1.2-1.36.72-.88 1.52-1.68 2.24-2.48.16-.16.32-.4.32-.8a1.07 1.07 0 0 0-.56-.64z' fill='%23EA252C'/%3E%3C/svg%3E");
    }
  }
}
