<!-- begin .main-world -->
<div class="main-world">
  <!-- begin .main-world__bg -->
  <div class="main-world__bg"></div>
  <!-- end .main-world__bg -->
  <!-- begin .main-world__wrap -->
  <div class="main-world__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Международный брокер</span> с безупречной репутацией</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .main-world__content -->
    <div class="main-world__content flex flex-stretch">
      <!-- begin .main-world__item -->
      <div class="main-world__item col-half">
        <!-- begin .main-world__content-box -->
        <div class="main-world__content-box">
          <!-- begin .main-world__title -->
          <div class="main-world__title">
            <h3 class="h2">Миссия компании</h3>
          </div>
          <!-- end .main-world__title -->
          <!-- begin .main-world__body -->
          <div class="main-world__body body-mission">
            <p><strong>Служить маяком в&nbsp;сфере электронной торговли</strong>, который показывает всем желающим безопасный путь к&nbsp;получению прибыли на&nbsp;финансовых рынках.</p>
          </div>
          <!-- end .main-world__body -->
        </div>
        <!-- end .main-world__content-box -->
      </div>
      <!-- end .main-world__item -->
      <!-- begin .main-world__item -->
      <div class="main-world__item col-half">
        <!-- begin .main-world__content-box -->
        <div class="main-world__content-box">
          <!-- begin .main-world__title -->
          <div class="main-world__title">
            <h3 class="h2">Наши приоритеты</h3>
          </div>
          <!-- end .main-world__title -->
          <!-- begin .main-world__body -->
          <div class="main-world__body">
            <p><strong>Технологии, безопасность и&nbsp;сервис&nbsp;&mdash; фундамент</strong>, на&nbsp;котором строится бизнес-модель Vizavi. Мы&nbsp;отвечаем современным вызовам рынка и&nbsp;делаем&nbsp;то, что остальные компании боятся предложить своим клиентам.</p>
          </div>
          <!-- end .main-world__body -->
        </div>
        <!-- end .main-world__content-box -->
      </div>
      <!-- end .main-world__item -->
    </div>
    <!-- end .main-world__content -->
  </div>
  <!-- end .main-world__wrap -->
</div>
<!-- end .main-world -->
