$main-world-height: 420px;

.main-world {
  position: relative;
  height: $main-world-height;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  .intro-box {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: left;

    .h2 {
      text-align: left;

      span {
        display: block;
      }
    }
  }

  &__content {

    &-box {
      height: 100%;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: column;
      padding-left: 200px;
      position: relative;
    }
  }

  &__title {
    position: absolute;
    left: -47px;
    min-width: 200px;
    max-width: 200px;
    text-align: right;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      right: -40px;
      width: 40px;
      height: 2px;
      background-color: #EA252C;
      transform: rotate(120deg);
    }

    .h2 {
      font-size: 26px;
      line-height: 34px;
      text-align: right;
      margin: 0;
      padding: 0;
    }
  }

  &__body {
    padding-top: 65px;
    position: relative;

    &.body-mission {
      padding-right: 60px;
    }

    p {
      margin-bottom: 0;
      font-weight: 100;
      font-size: 18px;
      line-height: 23px;
      color: #222B34;

      strong {
        font-weight: bold;
      }
    }
  }

  &__flag {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-color: #EA252C;
      width: 90px;
      height: 44px;
      transform: skewY(-9.1deg);
      top: -15px;
      left: 0;
      z-index: -2;
    }
  }
}

.main-features:before {
  top: -430px;
  background-image: url('../images/main/bg-world.png');
  z-index: -3;
  background-size: contain;
  height: 540px;
}
