$main-world-height: 400px;

.main-world {
  position: relative;
  height: $main-world-height;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  .intro-box {
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: left;

    .h2 {
      text-align: left;

      span {
        display: block;
      }
    }
  }
}

.main-features:before {
  top: -$main-world-height;
  background-image: url('../images/main/bg-world.png');
  z-index: -2;
}
