.security-of-means {
  padding-top: 90px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__content {
    position: relative;
    flex-basis: 450px;
    min-width: 450px;

    &:before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      background-image: url('../images/fingerprint.png');
      width: 365px;
      height: 435px;
      z-index: 0;
      left: -160px;
      top: -100px;
    }

    .intro-box {
      position: relative;
      z-index: 1;
    }
  }

  &__cards {
    padding-left: 0;

    .icon-cards--black {
      padding-left: 40px;
    }
  }
}
