<!-- begin .security-of-means -->
<div class="security-of-means">
  <!-- begin .security-of-means__wrap -->
  <div class="security-of-means__wrap flex">
    <!-- begin .security-of-means__content -->
    <div class="security-of-means__content">
      <!-- begin .intro-box -->
      <div class="intro-box text-left p-decor">
        <h2 class="h2"><span>Безопасность</span> ваших средств</h2>
        <p><strong>Компания Vizavi уделяет особое внимание сохранности средств своих клиентов</strong>. Мы&nbsp;гарантируем вам максимальную защиту денежных активов, полную безопасность совершения сделок и&nbsp;своевременное выполнение финансовых обязательств.</p>
      </div>
      <!-- end .intro-box -->
    </div>
    <!-- end .security-of-means__content -->
    <!-- begin .security-of-means__cards -->
    <div class="security-of-means__cards">
      {% include "components/icon-cards/icon-cards-security.html" %}
    </div>
    <!-- end .security-of-means__cards -->
  </div>
  <!-- end .security-of-means__wrap -->
</div>
<!-- end .security-of-means -->
