<!-- begin .why-we -->
<div class="why-we">
  <!-- begin .why-we__wrap -->
  <div class="why-we__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box text-left">
      <h2 class="h2">Почему мы?</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .why-we__lists -->
    <div class="why-we__lists">
      <!-- begin .why-we__list -->
      <div class="why-we__list">
        <h3 class="h3">Технологии</h3>
        <ul class="list-check">
          <li class="list-check__item">Самая современная платформа MetaTrader 5</li>
          <li class="list-check__item">6 рынков и более 500 торговых инструментов</li>
          <li class="list-check__item">Исполнение ордеров за 50 миллисекунд</li>
          <li class="list-check__item">Прямой вывод сделок</li>
          <li class="list-check__item">по протоколу FIX</li>
          <li class="list-check__item">Поддержка всех торговых стратегий</li>
        </ul>
      </div>
      <!-- end .why-we__list -->
      <!-- begin .why-we__list -->
      <div class="why-we__list">
        <h3 class="h3">Безопасность</h3>
        <ul class="list-check">
          <li class="list-check__item">Соблюдение международных норм и стандартов AML, KYC, DD</li>
          <li class="list-check__item">Использование протоколов шифрования и сохранение целостности данных</li>
          <li class="list-check__item">Быстрый вывод средств</li>
          <li class="list-check__item">Ни одного отказа в выводе средств</li>
          <li class="list-check__item">Раздельное хранение средств клиентов</li>
        </ul>
      </div>
      <!-- end .why-we__list -->
      <!-- begin .why-we__list -->
      <div class="why-we__list">
        <h3 class="h3">Сервис</h3>
        <ul class="list-check">
          <li class="list-check__item">Круглосуточная поддержка</li>
          <li class="list-check__item">Торговля 24/7 (торгуйте в выходные и праздничные дни)</li>
          <li class="list-check__item">Множество способов ввода и вывода средств, включая криптовалюту</li>
          <li class="list-check__item">Партнерская программа с гарантированной выплатой до 50%</li>
          <li class="list-check__item">Быстрая верификация</li>
        </ul>
      </div>
      <!-- end .why-we__list -->
    </div>
    <!-- end .why-we__lists -->
  </div>
  <!-- end .why-we__wrap -->
</div>
<!-- end .why-we -->
