.why-we {
  font-family: 'Roboto';

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  &__lists {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }

  .h3 {
    font-size: 26px;
    line-height: 34px;
    color: #222B34;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__list {
    position: relative;
    padding-top: 80px;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 70px;
      height: 50px;
      background-color: #EA252C;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 80%,
        0% 100%
      );
    }

    .h3 + .list-check {
      margin-top: 30px;
      padding-left: 30px;
    }

    .h3 {
      padding-left: 70px;
    }
  }
}


.list-check {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;

  li {
    padding-left: 40px;
    position: relative;
    color: #222B34;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 14px;
      left: -4px;
      top: 4px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('data:image/svg+xml,%3Csvg width="18" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.442.572a1.09 1.09 0 0 0-1.2 0c-.24.24-.6.48-.84.84-.6.6-1.08 1.2-1.68 1.8-.36.36-.72.84-1.08 1.2-.96.96-1.8 2.04-2.76 3l-1.2 1.32c-.24.24-.48.48-.72.84l-.24.24-1.68-1.68-1.8-1.8c-.48-.48-.96-.84-1.68-.48-.48.24-.72.48-.72.96-.12.48.12.96.48 1.44.84.84 1.68 1.68 2.52 2.4l1.8 1.8c.24.24.48.48.84.6.12.12.36.12.48.12.36 0 .72-.24 1.08-.6.36-.36.72-.84 1.08-1.2.36-.36.72-.84 1.08-1.2.48-.6.96-1.08 1.44-1.68.6-.72 1.2-1.32 1.8-2.04 1.08-1.32 2.28-2.52 3.36-3.72.24-.24.48-.6.48-1.2-.12-.36-.36-.72-.84-.96z" fill="%23EA252C"/%3E%3C/svg%3E');
    }
  }
}
