<!-- begin .cut-bubble -->
<div class="cut-bubble cut-bubble--main">
  <!-- begin .cut-bubble__wrap -->
  <div class="cut-bubble__wrap flex ">
    <!-- begin .cut-bubble__message -->
    <div class="cut-bubble__message col-half cut-bubble-message cut-bubble-message--main">
      <!-- begin .cut-bubble-message__box -->
      <div class="cut-bubble-message__box">
        <!-- begin .cut-bubble-message__content -->
        <div class="cut-bubble-message__content">
          <h2 class="h2"><span>Вся глубина</span> рынка в вашем смартфоне</h2>
          <p><strong>Получите лучшую цену Bid и&nbsp;Ask</strong> каждый раз при размещении сделки</p>
          <!-- begin .cut-bubble-message__actions -->
          <div class="cut-bubble-message__actions">
            <a href="" class="button button-red">Открыть счет</a>
          </div>
          <!-- end .cut-bubble-message__actions -->
        </div>
        <!-- end .cut-bubble-message__content -->
      </div>
      <!-- end .cut-bubble-message__box -->
    </div>
    <!-- end .cut-bubble__message -->
    <!-- begin .cut-bubble__picture -->
    <div class="cut-bubble__picture col-half cut-bubble-picture">
      <!-- begin .cut-bubble-picture__box -->
      <div class="cut-bubble-picture__box">
        <img src="assets/images/main/vizavi.png" alt="">
      </div>
      <!-- end .cut-bubble-picture__box -->
    </div>
    <!-- end .cut-bubble__picture -->
  </div>
  <!-- end .cut-bubble__wrap -->
</div>
<!-- end .cut-bubble -->
