<!-- begin .cut-bubble -->
<div class="cut-bubble">
  <!-- begin .cut-bubble__wrap -->
  <div class="cut-bubble__wrap flex ">
    <!-- begin .cut-bubble__message -->
    <div class="cut-bubble__message col-half cut-bubble-message">
      <!-- begin .cut-bubble-message__box -->
      <div class="cut-bubble-message__box">
        <!-- begin .cut-bubble-message__content -->
        <div class="cut-bubble-message__content">
          <h2 class="h2">Мы защитим <span>ваш депозит от потерь</span> и отрицательного баланса</h2>
          <p><strong>В&nbsp;рейтинге участвуют только проверенные специалисты</strong>, прошедшие отбор после трех месяцев торговли и&nbsp;совершения не&nbsp;менее 50&nbsp;сделок</p>
          <!-- begin .cut-bubble-message__actions -->
          <div class="cut-bubble-message__actions">
            <a href="" class="button button-light">Подробенее</a>
          </div>
          <!-- end .cut-bubble-message__actions -->
        </div>
        <!-- end .cut-bubble-message__content -->
      </div>
      <!-- end .cut-bubble-message__box -->
    </div>
    <!-- end .cut-bubble__message -->
    <!-- begin .cut-bubble__picture -->
    <div class="cut-bubble__picture col-half cut-bubble-picture">
      <!-- begin .cut-bubble-picture__box -->
      <div class="cut-bubble-picture__box">
        <img src="assets/images/vizavi-on-mobile.png" alt="">
      </div>
      <!-- end .cut-bubble-picture__box -->
    </div>
    <!-- end .cut-bubble__picture -->
  </div>
  <!-- end .cut-bubble__wrap -->
</div>
<!-- end .cut-bubble -->
