<!-- begin .growth-plan -->
<div class="growth-plan">
  <!-- begin .growth-plan__wrap -->
  <div class="growth-plan__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2">План <span>развития компании</span></h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .growth-plan__list -->
    <div class="growth-plan__list">
      <ul class="plan-list">
        <li class="plan-list__item plan-list__item--super-light">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2017</div>
              <div class="plan-list__description">Приобретение MetaTrader 5</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item plan-list__item--light">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2018</div>
              <div class="plan-list__description">Выход компании на розничный рынок</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2019</div>
              <div class="plan-list__description">Предоставление <strong>самого широкого набора инструментов</strong> для розничного сегмента</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2020</div>
              <div class="plan-list__description"><strong>Собственная торговая платформа VZVtrade</strong></div>
            </div>
          </div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2021</div>
              <div class="plan-list__description"><strong>Максимальное снижение комиссий</strong> для частных клиентов</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2022</div>
              <div class="plan-list__description">Обновление системы <strong>приема платежей в криптовалюте</strong>, согласно изменениям законодательства в странах присутствия</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2023</div>
              <div class="plan-list__description"><strong>Завершение автоматизации системы</strong> обслуживания с применением самообучающихся алгоритмов и речевых технологий</div>
            </div>
          </div>
        </li>
        <li class="plan-list__item plan-list__item--light">
          <div class="plan-list__box">
            <div class="plan-list__content">
              <div class="plan-list__year">2024</div>
              <div class="plan-list__description"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- end .growth-plan__list -->
  </div>
  <!-- end .growth-plan__wrap -->
</div>
<!-- end .growth-plan -->
