.growth-plan {
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  clear: both;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;

    @media #{$mobile} {
      max-width: $max-width-sx;
    }
    @media #{$mobile-big} {
      max-width: $max-width-sm;
    }
    @media #{$tablet} {
    }
  }

  .intro-box {
    margin-bottom: 30px;
  }
}
