.growth-plan {
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  clear: both;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
  }

  .intro-box {
    margin-bottom: 30px;
  }
}
