.growth-plan {
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  clear: both;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
  }

  .intro-box {
    margin-bottom: 30px;
  }
}

.plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
  height: auto;
  font-family: 'Roboto';

  &__item {
    overflow: hidden;

    /* Все четные слева */
    &:nth-child(even) {

      .plan-list__box {
        padding-right: 20px;
        float: left;
        text-align: right;
        // border: 1px solid pink;

        &:before {
          right: -8px;
        }

        &:after {
          right: -2px;
        }

        .plan-list__content {
          flex-direction: row-reverse;
          float: right;
        }

        .plan-list__year {
          margin-right: 0;
          margin-left: 26px;
        }
      }
    }

    /* Все нечетные справа */
    &:nth-child(odd) {

      .plan-list__box {
        padding-left: 20px;
        float: right;
        text-align: left;
        // border: 1px solid yellow;

        &:before {
          left: -8px;
        }

        &:after {
          left: -1px;
        }

        .plan-list__content {
          padding-right: 30px;
        }
      }
    }

    &--super-light {
      opacity: .35;
    }

    &--light {
      opacity: .6;
    }
  }

  &__box {
    width: 50%;
    position: relative;
    min-height: 60px;

    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    &:before {
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 3px solid #E0E4EB;
      background-color: #EA252C;
      border-radius: 50%;
      top: 5px;
      z-index: 0;
    }

    &:after {
      height: 100%;
      width: 3px;
      background-color: #E5E5E5;
      top: 0;
      z-index: -1;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    max-width: 570px;

    strong {
      font-weight: bold;
    }
  }

  &__year {
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-transform: uppercase;
    color: #7086A2;
    margin-right: 26px;
  }

  &__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
  }
}
