// Кнопки
button[disabled=disabled],
button:disabled,
.button:disabled,
.button.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

button,
button.button {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 17px 30px 17px 30px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    transition: all .3s ease;
  }

  &-red {
    background-color: #EA252C;
    border-color: #EA252C;
    color: #fff;

    &:hover,
    &.hover {
      background-color: #F24B51;
      border-color: #F24B51;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: darken(#EA252C, 10%);
      border-color: darken(#EA252C, 10%);
      color: #fff;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }
}
