*::placeholder {
  color: $placeholder-color;
  opacity: 1;
  font-style: italic;
}

*::placeholder-shown {
  color: $placeholder-color;
  font-style: italic;
}

::selection {
  background: $selection-bg;
  color:      $selection-color;
}

input,
textarea,
button {
  outline: none;
  font-family: $font-family-base;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

textarea {
  hyphens: auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  &:last-child { margin-bottom: 0; }

  &.is-error {

    .form-control {
      border-color: #fa3253;
      color: #fa3253;
    }
  }
}

.form-row {
  align-items: stretch;
  align-content: stretch;

  .form-group {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .form-control {
    margin-bottom: 0;
    margin-right: 20px;

    &:last-child { margin-right: 0; }
  }

  .button {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E0E4EB;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  color: #222B34;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  font-family: 'Roboto';
  transition: all .25s ease;

  &:disabled,
  &.is-disabled,
  &[readonly] {
    color: #000;
    background-color: #ffffff;
    border-color: #e0dfda;
    cursor: not-allowed;
  }

  &:hover {
    border-color: #A9B0B8;
  }

  &:focus,
  &.focus {
    border-color: #A9B0B8;
  }
}

textarea.form-control {
  min-height: 80px;
  max-height: 200px;
  resize: vertical;
}

/* Заголовок формы */
.form-caption {
  font-family: 'Roboto';
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;

  .h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #222B34;
  }

  p {
    font-size: 18px;
    line-height: 18px;
    color: #6E7A86;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-more {

  p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #EA252C;
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: #EA252C;
      }
    }
  }
}
