*::placeholder {
  color: $placeholder-color;
  opacity: 1;
  font-style: italic;
}

*::placeholder-shown {
  color: $placeholder-color;
  font-style: italic;
}

::selection {
  background: $selection-bg;
  color:      $selection-color;
}

input,
textarea,
button {
  outline: none;
  font-family: $font-family-base;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

textarea {
  hyphens: auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;

  @media #{$mobile} {
    margin-bottom: 10px;
  }
  @media #{$mobile-big} {
  }
  @media #{$tablet} {
  }

  &:last-child { margin-bottom: 0; }

  &.is-error {

    .form-control {
      border-color: #fa3253;
      color: #fa3253;
    }
  }
}

.form-row {
  align-items: stretch;
  align-content: stretch;

  @media #{$mobile} {
    flex-direction: column;
  }
  @media #{$mobile-big} {
  }
  @media #{$tablet} {
  }

  .form-group {
    margin-bottom: 0;
    margin-right: 20px;

    @media #{$mobile} {
      margin-right: 0;
      margin-bottom: 10px;
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }
  }

  .form-control {
    margin-bottom: 0;
    margin-right: 20px;

    &:last-child { margin-right: 0; }
  }

  .button {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E0E4EB;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  color: #222B34;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  font-family: 'Roboto';
  transition: all .25s ease;

  @media #{$mobile} {
    font-size: 12px;
    line-height: 14px;
    padding: 15px;
  }
  @media #{$mobile-big} {
  }
  @media #{$tablet} {
  }

  &:disabled,
  &.is-disabled,
  &[readonly] {
    color: #000;
    background-color: #ffffff;
    border-color: #e0dfda;
    cursor: not-allowed;
  }

  &:hover {
    border-color: #A9B0B8;
  }

  &:focus,
  &.focus {
    border-color: #A9B0B8;
  }
}

textarea.form-control {
  min-height: 80px;
  max-height: 200px;
  resize: vertical;
}

/* Заголовок формы */
.form-caption {
  font-family: 'Roboto';
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;

  @media #{$mobile} {
    margin-left: 0;
    margin-right: 0;
  }
  @media #{$mobile-big} {
  }
  @media #{$tablet} {
  }

  .h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #222B34;

    @media #{$mobile} {
      font-size: 20px;
      line-height: 26px;
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }
  }

  p {
    font-size: 18px;
    line-height: 18px;
    color: #6E7A86;

    @media #{$mobile} {
      font-size: 14px;
      line-height: 22px;
      color: #222B34;
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-more {

  p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #EA252C;
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: #EA252C;
      }
    }
  }
}

.check {
  padding-left: 28px;
  font-family: 'Roboto';
  position: relative;

  @media #{$mobile} {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }
  @media #{$mobile-big} {
  }
  @media #{$tablet} {
  }

  &__box {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #DADADA;
    box-shadow: 0 0 0 1px #DADADA;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .25s ease;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    /* Checked */
    &:checked + .check__box {
      background-color: #EA252C;
      border-color: #EA252C;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.96.841a.727.727 0 0 0-.8 0c-.16.16-.4.32-.56.56-.4.4-.72.8-1.12 1.2-.24.24-.48.56-.72.8-.64.64-1.2 1.36-1.84 2l-.8.88c-.16.16-.32.32-.48.56l-.16.16-1.12-1.12-1.2-1.2c-.32-.32-.64-.56-1.12-.32-.32.16-.48.32-.48.64-.08.32.08.64.32.96.56.56 1.12 1.12 1.68 1.6l1.2 1.2c.16.16.32.32.56.4.08.08.24.08.32.08.24 0 .48-.16.72-.4.24-.24.48-.56.72-.8s.48-.56.72-.8c.32-.4.64-.72.96-1.12.4-.48.8-.88 1.2-1.36.72-.88 1.52-1.68 2.24-2.48.16-.16.32-.4.32-.8a1.07 1.07 0 0 0-.56-.64z' fill='%23ffffff'/%3E%3C/svg%3E");
      box-shadow: 0 0 0 1px #EA252C;
    }

    /* Focused */
    &:focus + .check__box {
      box-shadow: 0 0 0 1px #EA252C;
    }

    &:disabled + .check__box {
      box-shadow: 0 0 0 .1em #A9B0B8;
    }

    &:checked:disabled + .check__box {
      background-color: #A9B0B8;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: .01em;
    color: #7481AA;

    @media #{$mobile} {
      text-align: left;
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }

    a {
      color: #EA252C;
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: #EA252C;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .check__box {
      border-color: #EA252C;
      box-shadow: 0 0 0 1px #EA252C;
    }
  }
}
