<!-- begin .text-about -->
<div class="text-about">
  <!-- begin .text-about__wrap -->
  <div class="text-about__wrap">
    <!-- begin .text-about__content -->
    <div class="text-about__content text-content">
      <p>Технологическое новаторство Vizavi стало возможно благодаря приходу в&nbsp;команду в&nbsp;2018 году Чарльза Кейна&mdash; специалиста
с&nbsp;многолетним опытом управления в&nbsp;ряде европейских банков и&nbsp;брокерских компаний.</p>

      <!-- begin .caption-row -->
      <div class="caption-row">
        <!-- begin .caption-row__title -->
        <div class="caption-row__title">
          <h2 class="h2">Удобные и&nbsp;надежные <span>сервисы Vizavi</span></h2>
        </div>
        <!-- end .caption-row__title -->
        <!-- begin .caption-row__text -->
        <div class="caption-row__text">
          <p>В&nbsp;основе большинства сервисов компании лежат прогрессивные блокчейн-технологии, которые сводят на&nbsp;нет любые манипуляции с&nbsp;данными и&nbsp;обеспечивают максимальную защиту их&nbsp;целостности. <strong>В&nbsp;результате многолетнего труда десятков специалистов Vizavi клиентам компании стали доступны исключительные по&nbsp;удобству и&nbsp;надежности сервисы</strong>:</p>
        </div>
        <!-- end .caption-row__text -->
      </div>
      <!-- end .caption-row -->
    </div>
    <!-- end .text-about__content -->


    {% include "components/icon-cards/icon-cards-about.html" %}
  </div>
  <!-- end .text-about__wrap -->
</div>
<!-- end .text-about -->
