.text-about {
  padding-top: 70px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    @media #{$mobile} {
      max-width: $max-width-sx;
    }
    @media #{$mobile-big} {
      max-width: $max-width-sm;
    }
    @media #{$tablet} {
    }
  }

  &__quote {
    // sass-lint:disable-block indentation
    margin-top: 100px;
    background:
      (linear-gradient( 100deg, #F3F4F5 450px, transparent 451px)),
      (linear-gradient( 0deg, #EA252C 100%, transparent 50.1%));
    height: 300px;

    @media #{$mobile} {
      flex-direction: column;
      height: auto;
      background:
        (linear-gradient( bottom, #F3F4F5 450px, transparent 451px)),
        (linear-gradient( 0deg, #EA252C 100%, transparent 50.1%));
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }

    &-photo {
      width: 450px;
      flex-basis: 450px;
      min-width: 450px;
      position: relative;
      height: 100%;
      padding: 30px;

      img {
        vertical-align: middle;
        position: absolute;
        bottom: 30px;
        clip-path: polygon(
          0 0,
          100% 0%,
          calc(100% - 60px) 100%,
          0% 100%
        );
      }
    }

    &-text {
      flex: 1;
      padding: 50px 50px 50px 90px;
    }

    .blockquote p {
      font-weight: 500;
      color: #ffffff;
    }
  }

  .caption-row {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Roboto';

    @media #{$mobile} {
      flex-direction: column;
    }
    @media #{$mobile-big} {
    }
    @media #{$tablet} {
    }

    &__title {
      width: 340px;
      text-align: right;
      margin-right: 50px;

      .h2 {
        color: #6E7A86;
        font-size: 36px;
        line-height: 47px;
        margin: 0;
      }
    }

    &__text {
      flex: 1;
      padding-right: 20px;

      p {
        font-size: 18px;
        line-height: 29px;
        color: #222B34;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
