$partners-good-deg:  30px;

.partners-good {
  padding-top: 50px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    justify-content: space-between;
    padding-bottom: 100px;

    @media #{$xs} {
      max-width: $max-width-sx;
    }
    @media #{$sm} {
      max-width: $max-width-sm;
    }
    @media #{$md} {
    }
  }

  &__description {
    flex-basis: 680px;
    min-width: 680px;
    margin-right: 50px;

    p {
      padding-right: 50px;
    }
  }

  &__pic {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      background-color: #EA252C;
      clip-path: polygon(
        0 calc(0% + #{$partners-good-deg}),
        100% 0,
        90% 88%,
        0% 100%
      );
      width: 450px;
      height: 310px;
      right: -50px;
      bottom: 20px;
      z-index: -1;
    }

    &-img {
      background-color: #232D3A;
      clip-path: polygon(
        0 0,
        100% 0,
        calc(100% - #{$partners-good-deg}) 100%,
        0% 100%
      );
      width: 450px;
      height: 280px;
      position: relative;
      z-index: 0;

      img {
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
        position: relative;
      }
    }
  }
}
