<!-- begin .partners-good -->
<div class="partners-good">
  <!-- begin .partners-good__wrap -->
  <div class="partners-good__wrap flex flex-center">
    <!-- begin .partners-good__description -->
    <div class="partners-good__description">
      <!-- begin .intro-box -->
      <div class="intro-box text-left p-decor">
        <h2 class="h2"><span>Лучшие условия</span> партнерского сотрудничества</h2>
        <p>Партнерская программа Vizavi&nbsp;&mdash; это <strong>готовый бизнес с&nbsp;одними из&nbsp;лучших условий партнерского сотрудничества</strong> в&nbsp;индустрии</p>
      </div>
      <!-- end .intro-box -->
    </div>
    <!-- end .partners-good__description -->
    <!-- begin .partners-good__pic -->
    <div class="partners-good__pic">
      <!-- begin .partners-good__pic-img -->
      <div class="partners-good__pic-img">
        <img src="assets/images/partners/partners-good.png"
             alt="Лучшие условия партнерского сотрудничества">
      </div>
      <!-- end .partners-good__pic-img -->
    </div>
    <!-- end .partners-good__pic -->
  </div>
  <!-- end .partners-good__wrap -->
</div>
<!-- end .partners-good -->
