<!-- begin .headline--keyhole -->
<div class="headline--main headline--fast-order">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2"><span>Самое быстрое исполнение</span> ордеров на рынке</h1>
      <p>Скорость исполнения ордеров&nbsp;&mdash; <strong>от&nbsp;0.05</strong>&nbsp;секунды.</p>
    </div>
    <!-- end .headline__content -->
    <!-- begin .headline__actions -->
    <div class="headline__actions headline-actions">
      <!-- begin .headline__actions__buttons -->
      <div class="headline__actions__buttons">
        <a href="javascript:void(0);" class="button button-red">Начать торговать</a>
      </div>
      <!-- end .headline__actions__buttons -->
    </div>
    <!-- end .headline__actions -->
    <!-- begin .headline__award -->
    <div class="headline__award">
      <!-- begin .company-awards__box -->
      <div class="company-awards__box flex flex-center">
        <!-- begin .company-awards__name -->
        <div class="company-awards__name"><span>Самое</span> быстрое исполнение ордеров</div>
        <!-- end .company-awards__name -->
        <!-- begin .company-awards__type -->
        <div class="company-awards__type">IAFT Awards 2018</div>
        <!-- end .company-awards__type -->
      </div>
      <!-- end .company-awards__box -->
    </div>
    <!-- end .headline__award -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline--keyhole -->
