<!-- begin .headline--keyhole -->
<div class="headline--main headline-keyhole">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2"><span>Расширяем горизонты</span> конструктор условий трейдинга</h1>
      <p>Mоделирование счетов для партнеров и корпоративных клиентов.</p>
    </div>
    <!-- end .headline__content -->
    <!-- begin .headline__actions -->
    <div class="headline__actions headline-actions">
      <!-- begin .headline__actions__buttons -->
      <div class="headline__actions__buttons">
        <a href="javascript:void(0);" class="button button-red">Узнать больше</a>
        <a href="javascript:void(0);" class="button button-ghost">Партнерам</a>
      </div>
      <!-- end .headline__actions__buttons -->
    </div>
    <!-- end .headline__actions -->
    <!-- begin .headline__picture -->
    <div class="headline__picture">
      <!--
      <picture class="picture-box">
        <source
          class="vizavi-picture"
          type="image/webp"
          draggable="false"
          srcset="assets/images/main/vizavi-on-your-phone.webp,
                  assets/images/main/vizavi-on-your-phone@2x.webp 2x,
                  assets/images/main/vizavi-on-your-phone@3x.webp 3x
                  ">
        <img
          class="vizavi-picture"
          alt="Vizavi на вашем телефоне"
          draggable="false"
          src="assets/images/main/vizavi-on-your-phone.png"
          srcset="assets/images/main/vizavi-on-your-phone.png,
                  assets/images/main/vizavi-on-your-phone@2x.png 2x,
                  assets/images/main/vizavi-on-your-phone@3x.png 3x
                  ">
      </picture>
      -->
    </div>
    <!-- end .headline__picture -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline--keyhole -->
