<!-- begin .headlie -->
<div class="headline-slider">
  <!-- begin .headline-slider__body -->
  <div class="headline-slider__list owl-carousel js_headline-slider">
    <!-- begin .headline-slider__item -->
    <div class="headline-slider__item">
      {% include "components/headline/main/headline-bitcoin.html" %}
    </div>
    <!-- end .headline-slider__item -->
    <!-- begin .headline-slider__item -->
    <div class="headline-slider__item">
      {% include "components/headline/main/headline-keyhole.html" %}
    </div>
    <!-- end .headline-slider__item -->
    <!-- begin .headline-slider__item -->
    <div class="headline-slider__item">
      {% include "components/headline/main/headline-fast-order.html" %}
    </div>
    <!-- end .headline-slider__item -->
  </div>
  <!-- end .headline-slider__body -->
  <!-- begin .headline-slider__wrap -->
  <div class="headline-slider__wrap">
    <!-- begin .headline__features -->
    <div class="headline__features headline-features">
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="40" height="36">
              <use xlink:href="#i_tools" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">500 +</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Торговых инструментов</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="37" height="40">
              <use xlink:href="#i_analytics" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">6 рынков</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Торговля всеми классами активов</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="41" height="43">
              <use xlink:href="#i_certified" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">Лицензированные</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">поставщики ликвидности</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="38" height="37">
              <use xlink:href="#i_fullday" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">24/7</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Круглосуточная служба поддержки</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
    </div>
    <!-- end .headline__features -->
  </div>
  <!-- end .headline-slider__wrap -->
</div>
<!-- end .headlie -->
