<!-- begin .text-safety -->
<div class="text-safety">
  <!-- begin .text-safety__wrap -->
  <div class="text-safety__wrap">
    <!-- begin .text-safety__notchoose -->
    <div class="text-safety__notchoose flex flex-center">
      <!-- begin .text-safety__notchoose-text -->
      <div class="text-safety__notchoose-text">
        <!-- begin .intro-box -->
        <div class="intro-box text-left p-decor">
          <h2 class="h2">Доходность или надежность? <span>С Vizavi не надо выбирать!</span></h2>
          <p>Компания Vizavi уделяет особое внимание сохранности средств своих клиентов. Мы&nbsp;гарантируем вам максимальную защиту денежных активов, полную безопасность совершения сделок и&nbsp;своевременное выполнение финансовых обязательств.</p>
        </div>
        <!-- end .intro-box -->
      </div>
      <!-- end .text-safety__notchoose-text -->
      <!-- begin .text-safety__notchoose-pic -->
      <div class="text-safety__notchoose-pic">
        <!-- begin .text-safety__notchoose-img -->
        <div class="text-safety__notchoose-img">
          <img src="assets/images/planet.png" alt="">
        </div>
        <!-- end .text-safety__notchoose-img -->
      </div>
      <!-- end .text-safety__notchoose-pic -->
    </div>
    <!-- end .text-safety__notchoose -->

    <!-- begin .text-safety__cards -->
    <div class="text-safety__cards">
      <!-- begin .flag-card -->
      <div class="flag-card">
        <!-- begin .flag-card__box -->
        <div class="flag-card__box">
          <!-- begin .flag-card__icon -->
          <div class="flag-card__icon">
            <!-- begin .flag-card__icon-box -->
            <div class="flag-card__icon-box">
              <svg width="49" height="43">
                <use xlink:href="#i_bank-big" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <!-- end .flag-card__icon-box -->
          </div>
          <!-- end .flag-card__icon -->
          <!-- begin .flag-card__headline -->
          <div class="flag-card__headline">
            <h3>Сегрегированные счета в крупных мировых банках</h3>
          </div>
          <!-- end .flag-card__headline -->
          <!-- begin .flag-card__body -->
          <div class="flag-card__body">
            <p>В целях безопасности средства клиентов хранятся на специальных банковских счетах отдельно от средств компании Vizavi.</p>
          </div>
          <!-- end .flag-card__body -->
        </div>
        <!-- end .flag-card__box -->
      </div>
      <!-- end .flag-card -->
    </div>
    <!-- end .text-safety__cards -->
  </div>
  <!-- end .text-safety__wrap -->
</div>
<!-- end .text-safety -->
