<!-- begin .text-safety -->
<div class="text-safety">
  <!-- begin .text-safety__wrap -->
  <div class="text-safety__wrap">
    <!-- begin .text-safety__notchoose -->
    <div class="text-safety__notchoose flex flex-center">
      <!-- begin .text-safety__notchoose-text -->
      <div class="text-safety__notchoose-text">
        <!-- begin .intro-box -->
        <div class="intro-box text-left p-decor">
          <h2 class="h2">Доходность или надежность? <span>С Vizavi не надо выбирать!</span></h2>
          <p>Компания Vizavi уделяет особое внимание сохранности средств своих клиентов. Мы&nbsp;гарантируем вам максимальную защиту денежных активов, полную безопасность совершения сделок и&nbsp;своевременное выполнение финансовых обязательств.</p>
        </div>
        <!-- end .intro-box -->
      </div>
      <!-- end .text-safety__notchoose-text -->
      <!-- begin .text-safety__notchoose-pic -->
      <div class="text-safety__notchoose-pic">
        <!-- begin .text-safety__notchoose-img -->
        <div class="text-safety__notchoose-img">
          <img src="assets/images/planet.png" alt="">
        </div>
        <!-- end .text-safety__notchoose-img -->
        <div class="text-safety__notchoose-shadow"></div>
      </div>
      <!-- end .text-safety__notchoose-pic -->
    </div>
    <!-- end .text-safety__notchoose -->
  </div>
  <!-- end .text-safety__wrap -->
</div>
<!-- end .text-safety -->
