<!-- begin .partners-start -->
<div class="partners-start">
  <!-- begin .partners-start__bg -->
  <div class="partners-start__bg"></div>
  <!-- end .partners-start__bg -->
  <!-- begin .partners-start__wrap -->
  <div class="partners-start__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Что вы получите</span> на старте</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .partners-start__cards -->
    <div class="partners-start__cards">
      {% include "components/icon-cards/icon-cards-partners.html" %}
    </div>
    <!-- end .partners-start__cards -->
  </div>
  <!-- end .partners-start__wrap -->
</div>
<!-- end .partners-start -->
