<!-- begin .contact-form -->
<div class="contact-form">
  <!-- begin .contact-form__wrap -->
  <div class="contact-form__wrap">
    <form action="" class="form-box contact-form__form">
      <!-- begin .form-caption -->
      <div class="form-caption">
        <h1 class="h2">Обратная <span>связь</span></h1>
        <p>Напишите нам по любому вопросу! Мы ответим вам в течении 24 часов.</p>
      </div>
      <!-- end .form-caption -->
      <!-- begin .contact-form__form-wrap -->
      <div class="contact-form__form-wrap">
        <!-- begin .flex -->
        <div class="flex form-row">
          <!-- begin .form-group -->
          <div class="form-group form-group--textarea">
            <textarea
              rows="8"
              cols="80"
              class="form-control"
              placeholder="Ваше сообщение"></textarea>
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .flex -->
        <!-- begin .flex -->
        <div class="flex form-row">
          <!-- begin .form-group -->
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ваше имя"
            >
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ваш возраст"
            >
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .flex -->
        <!-- begin .flex -->
        <div class="flex form-row">
          <!-- begin .form-group -->
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
            >
          </div>
          <!-- end .form-group -->
          <!-- begin .form-group -->
          <div class="form-group">
            <input
              type="tel"
              class="form-control"
              placeholder="Телефон"
            >
          </div>
          <!-- end .form-group -->
        </div>
        <!-- end .flex -->
        <!-- begin .contact-form__form-footer -->
        <div class="contact-form__form-footer">
          <!-- begin .form-more -->
          <div class="form-more">
            <!-- begin .form-check -->
            <div class="form-check">
              <label class="check">
                <input class="check__input" type="checkbox" checked>
                <span class="check__box"></span>
                <span class="check__name">Заполнив поля, указанные выше, Вы дали согласие на обработку ваших <a  href="javascript:void(0);">персональных данных</a></span>
              </label>
            </div>
            <!-- end .form-check -->
          </div>
          <!-- end .form-more -->
          <!-- begin .form-action -->
          <div class="form-action">
            <button class="button button-red">Отправить</button>
          </div>
          <!-- end .form-action -->
        </div>
        <!-- end .contact-form__form-footer -->
      </div>
      <!-- end .contact-form__form-wrap -->
    </form>
  </div>
  <!-- end .contact-form__wrap -->
</div>
<!-- end .contact-form -->
