<!-- begin .start-trading -->
<div class="start-trading">
  <!-- begin .start-trading__wrap -->
  <div class="start-trading__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box slash">
      <h2 class="h2"><span>Начните торговать</span> с Vizavi</h2>
      <p>Получите доступ ко всем рынкам за 3 минуты:</p>
    </div>
    <!-- end .intro-box -->
    <!-- begin .start-trading__cards -->
    <div class="start-trading__cards">
      <!-- begin .advantage-cards -->
      <div class="advantage-cards advantage-cards--shadow">
        <!-- begin .advantage-card -->
        <div class="advantage-card">
          <!-- begin .advantage-card__shadow -->
          <div class="advantage-card__shadow">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="79" height="62">
                  <use xlink:href="#i_management" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">1 шаг</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body new-line"><strong>Зарегистрируйте</strong> Личный кабинет</div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card__shadow -->
        </div>
        <!-- end .advantage-card -->
        <!-- begin .advantage-card -->
        <div class="advantage-card">
          <!-- begin .advantage-card__shadow -->
          <div class="advantage-card__shadow">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="49" height="65">
                  <use xlink:href="#i_passport" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">2 шаг</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body">Прикрепите <strong>документ</strong>, удостоверяющий личность</div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card__shadow -->
        </div>
        <!-- end .advantage-card -->
        <!-- begin .advantage-card -->
        <div class="advantage-card">
          <!-- begin .advantage-card__shadow -->
          <div class="advantage-card__shadow">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="66" height="65">
                  <use xlink:href="#i_trading-platform" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">3 шаг</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body new-line"><strong>Скачайте</strong> торговую платформу</div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card__shadow -->
        </div>
        <!-- end .advantage-card -->
        <!-- begin .advantage-card -->
        <div class="advantage-card">
          <!-- begin .advantage-card__shadow -->
          <div class="advantage-card__shadow">
            <!-- begin .advantage-card__box -->
            <div class="advantage-card__box">
              <!-- begin .advantage-card__icon -->
              <div class="advantage-card__icon">
                <svg width="70" height="63">
                  <use xlink:href="#i_refill" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .advantage-card__icon -->
              <!-- begin .advantage-card__name -->
              <div class="advantage-card__name">4 шаг</div>
              <!-- end .advantage-card__name -->
              <!-- begin .advantage-card__body -->
              <div class="advantage-card__body"><strong>Пополните</strong> счет и начните торговать</div>
              <!-- end .advantage-card__body -->
            </div>
            <!-- end .advantage-card__box -->
          </div>
          <!-- end .advantage-card__shadow -->
        </div>
        <!-- end .advantage-card -->
      </div>
      <!-- end .advantage-cards -->
    </div>
    <!-- end .start-trading__cards -->
  </div>
  <!-- end .start-trading__wrap -->
</div>
<!-- end .start-trading -->
