<!-- begin .accounts -->
<div class="accounts">
  <!-- begin .accounts__wrap -->
  <div class="accounts__wrap">
    <!-- begin .accounts__list -->
    <div class="accounts__list flex flex-start">
      <!-- begin .accounts__item -->
      <div class="accounts__item">
        <!-- begin .accounts-type -->
        <div class="accounts-type">
          <!-- begin .accounts-type__box -->
          <div class="accounts-type__box">
            <!-- begin .accounts-type__header -->
            <div class="accounts-type__header">
              <!-- begin .accounts-type__header-icon -->
              <div class="accounts-type__header-icon">
                <svg width="36" height="36">
                  <use xlink:href="#i_type-demo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .accounts-type__header-icon -->
              <!-- begin .accounts-type__header-title -->
              <div class="accounts-type__header-title">
                <div class="accounts-type__header-title_name">Demo</div>
                <div class="accounts-type__header-title_description">Учебный счет</div>
              </div>
              <!-- end .accounts-type__header-title -->
            </div>
            <!-- end .accounts-type__header -->
            <!-- begin .accounts-type__info -->
            <div class="accounts-type__info">
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Торговые платформы и&nbsp;терминалы</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value accounts-type__value--icons">
                  <svg width="22" height="22">
                    <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="29" height="22">
                    <use xlink:href="#i_pc" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="22" height="27">
                    <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="21" height="25">
                    <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Инструменты</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value"><strong>462 инструмента</strong> Валюты, акции, криптовалюты, товары, индексы и металлы</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Тип исполнения</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Моментальное исполнение (STP)</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Спреды</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">От 1,5п</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Комиссии</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Без комиссии</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Максимальное плечо</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">1:200</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Поддержка</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Открытие счета</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
            </div>
            <!-- end .accounts-type__info -->
            <!-- begin .accounts-type__action -->
            <div class="accounts-type__action">
              <a href="" class="button button-red">Открыть счет</a>
            </div>
            <!-- end .accounts-type__action -->
          </div>
          <!-- end .accounts-type__box -->
        </div>
        <!-- end .accounts-type -->
      </div>
      <!-- end .accounts__item -->
      <!-- begin .accounts__item -->
      <div class="accounts__item">
        <!-- begin .accounts-type -->
        <div class="accounts-type">
          <!-- begin .accounts-type__box -->
          <div class="accounts-type__box">
            <!-- begin .accounts-type__header -->
            <div class="accounts-type__header">
              <!-- begin .accounts-type__header-icon -->
              <div class="accounts-type__header-icon">
                <svg width="38" height="31">
                  <use xlink:href="#i_type-standard" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .accounts-type__header-icon -->
              <!-- begin .accounts-type__header-title -->
              <div class="accounts-type__header-title">
                <div class="accounts-type__header-title_name">Standard</div>
                <div class="accounts-type__header-title_description">Для начинающих трейдеров</div>
              </div>
              <!-- end .accounts-type__header-title -->
            </div>
            <!-- end .accounts-type__header -->
            <!-- begin .accounts-type__info -->
            <div class="accounts-type__info">
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Торговые платформы и&nbsp;терминалы</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value accounts-type__value--icons">
                  <svg width="22" height="22">
                    <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="29" height="22">
                    <use xlink:href="#i_pc" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="22" height="27">
                    <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="21" height="25">
                    <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Инструменты</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value"><strong>462 инструмента</strong> Валюты, акции, криптовалюты, товары, индексы и металлы</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Тип исполнения</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Моментальное исполнение (STP)</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Спреды</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">От 1,5п</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Комиссии</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Без комиссии</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Максимальное плечо</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">1:200</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Поддержка</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Открытие счета</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
            </div>
            <!-- end .accounts-type__info -->
            <!-- begin .accounts-type__action -->
            <div class="accounts-type__action">
              <a href="" class="button button-red">Открыть счет</a>
            </div>
            <!-- end .accounts-type__action -->
          </div>
          <!-- end .accounts-type__box -->
        </div>
        <!-- end .accounts-type -->
      </div>
      <!-- end .accounts__item -->
      <!-- begin .accounts__item -->
      <div class="accounts__item">
        <!-- begin .accounts-type -->
        <div class="accounts-type">
          <!-- begin .accounts-type__box -->
          <div class="accounts-type__box">
            <!-- begin .accounts-type__header -->
            <div class="accounts-type__header">
              <!-- begin .accounts-type__header-icon -->
              <div class="accounts-type__header-icon">
                <svg width="34" height="34">
                  <use xlink:href="#i_type-premium" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .accounts-type__header-icon -->
              <!-- begin .accounts-type__header-title -->
              <div class="accounts-type__header-title">
                <div class="accounts-type__header-title_name">Premium</div>
                <div class="accounts-type__header-title_description">Для опытных трейдеров</div>
              </div>
              <!-- end .accounts-type__header-title -->
            </div>
            <!-- end .accounts-type__header -->
            <!-- begin .accounts-type__info -->
            <div class="accounts-type__info">
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Торговые платформы и&nbsp;терминалы</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value accounts-type__value--icons">
                  <svg width="22" height="22">
                    <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="29" height="22">
                    <use xlink:href="#i_pc" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="22" height="27">
                    <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="21" height="25">
                    <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Инструменты</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value"><strong>462 инструмента</strong> Валюты, акции, криптовалюты, товары, индексы и металлы</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Тип исполнения</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Моментальное исполнение (STP)</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Спреды</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">От 0,0п</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Комиссии</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">$7/лот</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Максимальное плечо</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">1:200</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Поддержка</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Открытие счета</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
            </div>
            <!-- end .accounts-type__info -->
            <!-- begin .accounts-type__action -->
            <div class="accounts-type__action">
              <a href="" class="button button-red">Открыть счет</a>
            </div>
            <!-- end .accounts-type__action -->
          </div>
          <!-- end .accounts-type__box -->
        </div>
        <!-- end .accounts-type -->
      </div>
      <!-- end .accounts__item -->
      <!-- begin .accounts__item -->
      <div class="accounts__item">
        <!-- begin .accounts-type -->
        <div class="accounts-type">
          <!-- begin .accounts-type__box -->
          <div class="accounts-type__box">
            <!-- begin .accounts-type__header -->
            <div class="accounts-type__header">
              <!-- begin .accounts-type__header-icon -->
              <div class="accounts-type__header-icon">
                <svg width="34" height="36">
                  <use xlink:href="#i_type-crypto" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <!-- end .accounts-type__header-icon -->
              <!-- begin .accounts-type__header-title -->
              <div class="accounts-type__header-title">
                <div class="accounts-type__header-title_name">Crypto</div>
                <div class="accounts-type__header-title_description">Для крупных инвесторов</div>
              </div>
              <!-- end .accounts-type__header-title -->
            </div>
            <!-- end .accounts-type__header -->
            <!-- begin .accounts-type__info -->
            <div class="accounts-type__info">
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Торговые платформы и&nbsp;терминалы</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value accounts-type__value--icons">
                  <svg width="22" height="22">
                    <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="29" height="22">
                    <use xlink:href="#i_pc" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="22" height="27">
                    <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                  <svg width="21" height="25">
                    <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Инструменты</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value"><strong>462 инструмента</strong> Валюты, акции, криптовалюты, товары, индексы и металлы</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Тип исполнения</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Моментальное исполнение (STP)</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Спреды</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">От 0,0п</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Комиссии</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">$5/лот</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Максимальное плечо</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">1:200</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Поддержка</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
              <!-- begin .accounts-type__info-row -->
              <div class="accounts-type__info-row">
                <!-- begin .accounts-type__name -->
                <div class="accounts-type__name">Открытие счета</div>
                <!-- end .accounts-type__name -->
                <!-- begin .accounts-type__value -->
                <div class="accounts-type__value">Бесплатно</div>
                <!-- end .accounts-type__value -->
              </div>
              <!-- end .accounts-type__info-row -->
            </div>
            <!-- end .accounts-type__info -->
            <!-- begin .accounts-type__action -->
            <div class="accounts-type__action">
              <a href="" class="button button-red">Открыть счет</a>
            </div>
            <!-- end .accounts-type__action -->
          </div>
          <!-- end .accounts-type__box -->
        </div>
        <!-- end .accounts-type -->
      </div>
      <!-- end .accounts__item -->
    </div>
    <!-- end .accounts__list -->
  </div>
  <!-- end .accounts__wrap -->
</div>
<!-- end .accounts -->
