.accounts {
  padding-top: 70px;
  padding-bottom: 100px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    @media #{$mobile} {
      max-width: $max-width-mobile;
    }
    @media #{$mobile-big} {
      max-width: $max-width-tablet;
    }
    @media #{$tablet} {
    }
  }

  &__list {
    align-items: stretch;
    align-content: stretch;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.accounts-type {
  flex-basis: 290px;
  min-width: 290px;
  max-width: 290px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  height: 100%;
  font-family: 'Roboto';
  z-index: 2;
  position: relative;

  &__box {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid #EEEEEE;
    height: 90px;
    display: flex;
    align-items: stretch;
    align-content: stretch;

    &-icon {
      width: 90px;
      height: 100%;
      background-color: #EA252C;
      clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      color: #ffffff;
    }

    &-title {
      margin-left: 20px;
      height: 100%;
      padding-top: 20px;

      &_name {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;

        color: #000000;
      }

      &_description {
        margin-top: 6px;
        font-size: 13px;
        line-height: 13px;
        color: #727C8C;
        padding-right: 10px;
      }
    }
  }

  &__info {
    padding: 10px 20px 0 20px;

    &-row {
      padding-top: 10px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      align-content: center;
    }
  }

  &__name,
  &__value {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  &__name {
    font-size: 13px;
    line-height: 16px;
    color: #727C8C;
    padding-right: 5px;
  }

  &__value {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222B34;

    strong {
      color: #EA252C;
      display: inline-block;
    }

    &--icons {
      color: #727C8C;
      align-self: center;
      line-height: 1;
      display: flex;
      align-items: center;
      align-content: center;

      svg {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__action {
    margin-top: auto;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .button {
      width: 100%;
    }
  }
}
