<!-- begin .trading-market -->
<div class="trading-market">
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-red"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-light"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__wrap -->
  <div class="trading-market__wrap">
    <!-- begin .trading-market__content -->
    <div class="trading-market__content tab-container" id="trading-market-content">
      <!-- begin .trading-market__controls -->
      <div class="trading-market__controls col-half">
        <!-- begin .trading-market__controls-img -->
        <div class="trading-market__controls-img">
          <span id="is-select"><a href="#tm_bitcoin" class="t-market-control t-market-control--bitcoin is-active">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="25" height="38">
                  <use xlink:href="#i_bitcoin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">Bitcoin</span>
            </span>
          </a></span>
          <span><a href="#tm_currencies" class="t-market-control t-market-control--currencies">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="43" height="35">
                  <use xlink:href="#i_money" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">Валюты</span>
            </span>
          </a></span>
          <span><a href="#tm_cfdstock" class="t-market-control t-market-control--cfdstock">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="25" height="37">
                  <use xlink:href="#i_cert" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">CFD <br> акции</span>
            </span>
          </a></span>
          <span><a href="#tm_cfdmetals" class="t-market-control t-market-control--cfdmetals">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="55" height="49">
                  <use xlink:href="#i_metal" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">CFD <br> металлы</span>
            </span>
          </a></span>
          <span><a href="#tm_cfdindexes" class="t-market-control t-market-control--cfdindexes">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="35" height="39">
                  <use xlink:href="#i_loupe-with-graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">CFD <br> Индексы</span>
            </span>
          </a></span>
          <span><a href="#tm_cfdproducts" class="t-market-control t-market-control--cfdproducts">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="24" height="29">
                  <use xlink:href="#i_jewel" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">CFD <br> товары</span>
            </span>
          </a></span>
        </div>
        <!-- end .trading-market__controls-img -->
      </div>
      <!-- end .trading-market__controls -->
      <!-- begin .trading-market__container -->
      <div class="trading-market__container col-half">
        <h2 class="h2"><span>6 рынков</span> для торговли</h2>
        <!-- begin .panel-container -->
        <div class="panel-container">
          <!-- begin #tm_bitcoin -->
          <div id="tm_bitcoin">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">Криптовалюты</h3>
              <p>Прогрессивный финансовый актив. <strong>Торгуется 24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю</strong>, чем выгодно отличается от&nbsp;остальных торговых инструментов. Вы&nbsp;можете торговать наиболее популярными криптовалютами без посредничества банков и&nbsp;других финансовых организаций.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_bitcoin -->
          <!-- begin #tm_currencies -->
          <div id="tm_currencies">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">Валюты</h3>
              <p>Наиболее ликвидный финансовый инструмент. <strong>Зарабатывать на разнице курсов валют можно при любом направлении их движения</strong>, так как падение курса одной валюты означает рост другой. Какой бы ни была экономическая ситуация в мире, вы всегда можете найти подходящую валютную пару для получения прибыли.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_currencies -->
          <!-- begin #tm_cfdstock -->
          <div id="tm_cfdstock">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">CFD Акции</h3>
              <p>Контракты на разницу цен акций крупнейших компаний мира. Дают <strong>возможность любому трейдеру торговать акциями Facebook, Google, Apple и других международных гигантов</strong> без крупного стартового капитала. Получите доступ к фондовому рынку и возможность приобщиться к успеху ваших любимых компаний.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_cfdstock -->
          <!-- begin #tm_cfdmetals -->
          <div id="tm_cfdmetals">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">CFD Металлы</h3>
              <p>Контракты на разницу цен золота, серебра, платины и других металлов. Считаются одним из <strong>самых популярных активов для диверсификации рисков</strong>. Торгуйте металлами без издержек на хранение и их дальнейшую перепродажу.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_cfdmetals -->
          <!-- begin #tm_cfdindexes -->
          <div id="tm_cfdindexes">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">CFD Индексы</h3>
              <p>Контракты на разницу цен самых известных фондовых индексов. Дают <strong>возможность торговать индексами ведущих фондовых бирж, которые формируются из акций публичных компаний</strong>. Вы можете зарабатывать на состоянии отдельной рыночной отрасли или экономики в целом. </p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_cfdindexes -->
          <!-- begin #tm_cfdproducts -->
          <div id="tm_cfdproducts">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">CFD Товары</h3>
              <p>Контракты на разницу цен нефти, газа и других сырьевых товаров. Удобный <strong>способ зарабатывать на покупке и продаже товаров без поставки реального физического актива</strong>. Вы получите прямой доступ к товарным рынкам с минимальными требованиями к стартовому капиталу.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_cfdproducts -->
        </div>
        <!-- end .panel-container -->
      </div>
      <!-- end .trading-market__container -->
    </div>
    <!-- end .trading-market__content -->
  </div>
  <!-- end .trading-market__wrap -->
</div>
<!-- end .trading-market -->
