<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<!-- begin .trading-market -->
<div class="trading-market">
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-red"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-light"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__wrap -->
  <div class="trading-market__wrap">

  </div>
  <!-- end .trading-market__wrap -->
</div>
<!-- end .trading-market -->
