$trading-market-height:      660px;   // высота блока
$trading-market-deg:         4deg;    // угол поворота фона
$trading-market-bg-height:   63px;    // компенсация поворта
$trading-market-pt:          90px;    // отступ сверху
$trading-market-pb:          114px;   // отступ снизу

.trading-market {
  position: relative;
  min-height: $trading-market-height;
  height: $trading-market-height;
  padding-top: $trading-market-pt;
  padding-bottom: $trading-market-pb;
  margin-top: 120px;
  font-family: 'Roboto';

  &:after {
    position: absolute;
    content: '';
    background-color: #232D3A;
    width: 100%;
    height: 90px;
    bottom: -4px;
    z-index: -1;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: calc(100% - #{$trading-market-bg-height});
    left: 0;
    top: 0;
    z-index: 0;

    &-red {
      background-color: #EA252C;
      transform: skewY(#{$trading-market-deg});
    }

    &-light {
      background-color: #F3F4F5;
      transform: skewY(-#{$trading-market-deg});
    }
  }

  &__wrap {
    position: relative;
    z-index: 1;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    min-height: 460px;
    max-height: 460px;
  }

  &__controls {
    position: relative;
    padding-right: 80px;

    &-img {
      position: absolute;
      top: 0;
      left: -30px;
      background-image: url('../images/svg/market-web.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left left;
      width: 543px;
      height: 381px;
    }
  }

  &__body {

    .h3 {
      color: #222B34;
      font-size: 26px;
      line-height: 43px;
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 30px 0;
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;
      color: #222B34;
      position: relative;
      padding-left: 40px;

      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: #EA252C;
        transform: rotate(120deg);
      }

      strong {
        font-weight: bold;
      }
    }
  }
}

.t-market-control {
  $t-market-control: &;
  position: relative;
  text-decoration: none;
  border: none;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #7086A2;

  &__box {
    position: relative;
  }

  &__icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #7086A2;
    width: 60px;
    height: 60px;
    color: #ffffff;
  }

  &__name {
    font-weight: bold;
    display: inline-block;
    text-align: center;
  }

  &.is-active {
    color: #E92B22;

    #{$t-market-control} {

      &__icon {
        background-color: #E92B22;
      }
    }
  }

  // список и позиции отдельных кнопок
  &--bitcoin {
    position: absolute;
    right: -15px;
    top: 140px;

    #{$t-market-control} {

      &__icon {
        width: 72px;
        height: 72px;

        svg {
          position: relative;
          right: -2px;
        }
      }

      &__name {
        position: relative;
        left: 50px;
        top: 10px;
      }
    }
  }

  &--currencies {
    position: absolute;
    left: 105px;
    top: 66px;

    #{$t-market-control} {

      &__icon {
        width: 72px;
        height: 72px;
      }

      &__name {
        position: relative;
        left: -10px;
        top: 10px;
      }
    }
  }

  // акции
  &--cfdstock {
    position: absolute;
    top: 20px;
    right: 20px;

    #{$t-market-control} {

      &__icon {
        width: 61px;
        height: 61px;
      }

      &__name {
        position: relative;
        left: 81px;
        top: -10px;
      }
    }
  }

  // металлы
  &--cfdmetals {
    position: absolute;
    right: 20px;
    bottom: -40px;

    #{$t-market-control} {

      &__icon {
        width: 85px;
        height: 85px;

        svg {
          position: relative;
          top: -3px;
        }
      }

      &__name {
        position: relative;
        left: 100px;
        top: -60px;
      }
    }
  }

  // индексы
  &--cfdindexes {
    position: absolute;
    left: 26px;
    bottom: -1px;

    #{$t-market-control} {

      &__icon {
        width: 60px;
        height: 60px;
      }

      &__name {
        position: relative;
        left: -75px;
        top: 5px;
      }
    }
  }

  // товары
  &--cfdproducts {
    position: absolute;
    left: 210px;
    bottom: 5px;

    #{$t-market-control} {

      &__icon {
        width: 48px;
        height: 48px;
      }

      &__name {
        position: relative;
        left: -4px;
        top: 24px;
      }
    }
  }
}
