<!-- begin .trading-market -->
<div class="trading-market">
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-red"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__bg -->
  <div class="trading-market__bg trading-market__bg-light"></div>
  <!-- end .trading-market__bg -->
  <!-- begin .trading-market__wrap -->
  <div class="trading-market__wrap">
    <!-- begin .trading-market__content -->
    <div class="trading-market__content" id="trading-market-content">
      <!-- begin .trading-market__controls -->
      <div class="trading-market__controls col-half">
        <!-- begin .trading-market__controls-img -->
        <div class="trading-market__controls-img">
          <a href="#tm_bitcoin"
             class="t-market-control t-market-control--bitcoin">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="25" height="38">
                  <use xlink:href="#i_bitcoin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">Bitcoin</span>
            </span>
          </a>
          <a href="#tm_currencies"
             class="t-market-control t-market-control--currencies">
            <span class="t-market-control__box">
              <span class="t-market-control__icon">
                <svg width="43" height="35">
                  <use xlink:href="#i_money" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              <span class="t-market-control__name">Валюты</span>
            </span>
          </a>
        </div>
        <!-- end .trading-market__controls-img -->
      </div>
      <!-- end .trading-market__controls -->
      <!-- begin .trading-market__container -->
      <div class="trading-market__container col-half">
        <h2 class="h2"><span>6 рынков</span> для торговли</h2>
        <!-- begin .panel-container -->
        <div class="panel-container">
          <!-- begin #tm_bitcoin -->
          <div id="tm_bitcoin">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">Криптовалюты</h3>
              <p>Прогрессивный финансовый актив. <strong>Торгуется 24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю</strong>, чем выгодно отличается от&nbsp;остальных торговых инструментов. Вы&nbsp;можете торговать наиболее популярными криптовалютами без посредничества банков и&nbsp;других финансовых организаций.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light">Начать торговать</a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_bitcoin -->
          <!-- begin #tm_currencies -->
          <div id="tm_currencies">
            <!-- begin .trading-market__body -->
            <div class="trading-market__body">
              <h3 class="h3">Валюты</h3>
              <p>Наиболее ликвидный финансовый инструмент. Зарабатывать на разнице курсов валют можно при любом направлении их движения, так как падение курса одной валюты означает рост другой. Какой бы ни была экономическая ситуация в мире, вы всегда можете найти подходящую валютную пару для получения прибыли.</p>
              <!-- begin .trading-market__actions -->
              <div class="trading-market__actions">
                <a href="javascript:void(0);" class="button button-light"></a>
              </div>
              <!-- end .trading-market__actions -->
            </div>
            <!-- end .trading-market__body -->
          </div>
          <!-- end #tm_currencies -->
        </div>
        <!-- end .panel-container -->
      </div>
      <!-- end .trading-market__container -->
    </div>
    <!-- end .trading-market__content -->
  </div>
  <!-- end .trading-market__wrap -->
</div>
<!-- end .trading-market -->
