<!-- begin .partners-reason -->
<div class="partners-reason">
  <!-- begin .partners-reason__wrap -->
  <div class="partners-reason__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>7 причин</span> стать партнером Vizavi </h2>
    </div>
    <!-- end .intro-box -->

    <!-- begin .partners-reason__list -->
    <div class="partners-reason__list">
      <ul class="plan-list plan-list--arrow">
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">1</div>
              <div class="plan-list__info">
                <p><strong>Стабильные партнерские выплаты</strong> без скрытых комиссий</p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">2</div>
              <div class="plan-list__info">
                <p><strong>Гибкие выплаты</strong> по индивидуальной договоренности</p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">3</div>
              <div class="plan-list__info">
                <p>Модели <strong>вознаграждения без привязки к объемам</strong> сделки</p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">4</div>
              <div class="plan-list__info">
                <p><strong>Возможность работы без реферальной ссылки</strong></p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">5</div>
              <div class="plan-list__info">
                <p><strong>Гарантированное закрепление клиента за партнером</strong></p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">6</div>
              <div class="plan-list__info">
                <p><strong>Возможность работы без MTT и MTP показателей</strong></p>
              </div>
            </div>
          </div></div>
        </li>
        <li class="plan-list__item">
          <div class="plan-list__box"><div class="plan-list__box-decor">
            <div class="plan-list__content">
              <div class="plan-list__point">7</div>
              <div class="plan-list__info">
                <p><strong>Высококонкурентные продукты</strong> для привлечения клиентов</p>
              </div>
            </div>
          </div></div>
        </li>
      </ul>
    </div>
    <!-- end .partners-reason__list -->
  </div>
  <!-- end .partners-reason__wrap -->
</div>
<!-- end .partners-reason -->
