.flex {
  display: flex;
  align-items: center;
  align-content: center;

  &-start {
    align-items: flex-start;
    align-content: flex-start;
  }

  &-stretch {
    align-items: stretch;
    align-content: stretch;
  }

  &-center {
    justify-content: center;
  }
}
