.flex {
  display: flex;
  align-items: center;
  align-content: center;

  &-start {
    align-items: flex-start;
    align-content: flex-start;
  }

  &-stretch {
    align-items: stretch;
    align-content: stretch;
  }

  &-center {
    justify-content: center;
  }
}

.col-half {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
