---
title: 'Карта прогресса по проекту Vizavi'
description:
keywords:
bodyclass:
sitemap:
 - name:           'Главная страница'
   url:             main.html
   path:            main.html
   progress:        10
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/3QgjoQsa6YQpf5LIqL946j/'
 - name:           'Партнерём'
   url:             partners.html
   path:            partners.html
   progress:        5
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/U6fWMUorlagRMcZkoJD8cQ/'
 - name:           'Инвестору'
   url:             investor.html
   path:            investor.html
   progress:        15
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/TECfgBfWb3eJQwHIaBK0Qd/'
 - name:           'Торговый терминал'
   url:             trading-terminal.html
   path:            trading-terminal.html
   progress:        85
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/lCzkqcJkNXYVtQHGAQtYvt/'
 - name:           'Торговый счет'
   url:             trading-account.html
   path:            trading-account.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/1UxKP08bpgG26THgLJYQPT/'
 - name:           'О компании'
   url:             about.html
   path:            about.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/CrrDcz84AaYmy28ko2EvMO/'
 - name:           'Сохранность средств'
   url:             safety.html
   path:            safety.html
   progress:        95
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/VvnLCdhYyu0J8CodFI8fob/'
 - name:           'Регламентирующие документы'
   url:             documents.html
   path:            documents.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/SGLFhsX2stAOpCVPOlhZAw/'
 - name:           'Обратная связь'
   url:             contact-form.html
   path:            contact-form.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/SGLFhsX2stAOpCVPOlhZAw/'
 - name:           'Страница «Спасибо»'
   url:             contact-thanks.html
   path:            contact-thanks.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/SGLFhsX2stAOpCVPOlhZAw/'
 - name:           'Ошибка 404'
   url:             404.html
   path:            404.html
   progress:        99
   progress_mobile: 0
   progress_tablet: 0
   figma:          'https://www.figma.com/file/SGLFhsX2stAOpCVPOlhZAw/'
---

{% extends "layouts/layout.html" %}
{% import "utils/utils.html" as utils %}

{% block header %}
  <style>
    .ui-page { padding-top: 30px; padding-bottom: 30px; }
    .ui-page_wrap { width: 100%; margin: 0; padding: 0 60px; }
    .ui-page_sitemap { background-color: #fff; margin-top: 30px; padding-top: 30px; padding-bottom: 40px; border-top: 1px solid #f7f7f5; border-bottom: 1px solid #f7f7f5; }
    .ui-page_kit { background-color: #fff; padding-top: 30px; padding-bottom: 40px; border-bottom: 1px solid #f7f7f5; }
    .ui-page .box-headline h2 { margin: 0 0 15px 0; }
    .sitemap-list { list-style-type: none; margin: 0; padding: 0; display: flex;  flex-direction: column; }
    .sitemap_item { display: flex; align-items: flex-start; align-content: flex-start; margin-bottom: 5px; font-size: 16px; line-height: 1; }
    .sitemap_item:last-child { margin-bottom: 0; }
    .sitemap_item_progress { display: flex; align-items: center; align-content: center; }
    .sitemap_item-col,
    .sitemap_item-headline { margin-right: 40px; color: #7086A2; font-weight: 500; }
    .sitemap_item-head { font-size: 18px; line-height: 18px; font-weight: bold; border-bottom: 1px solid #f7f7f5; padding-bottom: 5px; padding-top: 5px; margin-bottom: 15px; }
    .sitemap_item-col,
    .sitemap_item-headline { min-width: 200px; }
    .sitemap_item-col:first-child,
    .sitemap_item-headline:first-child { min-width: 250px; width: 250px; }
    .sitemap_item-col:last-child,
    .sitemap_item-headline:last-child { margin-right: 0; }
    .sitemap_item_path { margin-top: 5px; color: #b5b4b0; font-size: 11px; line-height: 11px; overflow: hidden; white-space: nowrap; display: block; text-overflow: ellipsis; font-style: italic; }
    .sitemap_item_progress_value { color: #b5b4b0; margin-left: 10px; font-size: 14px; line-height: 14px; }
    .sitemap_item_progress_bar progress { width: 160px; vertical-align: middle; }
    .external-link { border-bottom: 0; position: relative; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -ms-align-items: center; align-items: center; align-content: center; line-height: 1; }
    .external-link__icon { color: #7086A2; margin-left: 4px; -ms-align-self: center; align-self: center; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; }
    .external-link:hover { color: #EA252C; }
    .external-link:hover .external-link__icon { color: #EA252C; }
  </style>
{% endblock %}

{% block content %}
<!-- begin .ui-page -->
<div class="ui-page">
  <!-- begin .ui-page_wrap -->
  <div class="ui-page_wrap">
    <!-- begin .box-headline -->
    <div class="box-headline">
      <h1>Проект Vizavi</h1>
    </div>
    <!-- end .box-headline -->
  </div>
  <!-- end .ui-page_wrap -->
  <!-- begin .ui-page_sitemap -->
  <section class="ui-page_sitemap">
    <!-- begin .ui-page_wrap -->
    <div class="ui-page_wrap">
      <!-- begin .box-headline -->
      <div class="box-headline">
        <h3>Карта прототипа</h3>
      </div>
      <!-- end .box-headline -->
      <!-- begin .ui-page_sitemap_list -->
      <div class="ui-page_sitemap_list">
        <!-- begin .sitemap-list -->
        <ul class="sitemap-list">
          <!-- begin .sitemap_item -->
          <li class="sitemap_item sitemap_item-head">
            <!-- begin .sitemap_item-headline -->
            <div class="sitemap_item-headline">Страница</div>
            <!-- end .sitemap_item-headline -->
            <!-- begin .sitemap_item-headline -->
            <div class="sitemap_item-headline">Десектоп</div>
            <!-- end .sitemap_item-headline -->
            <!-- begin .sitemap_item-headline -->
            <div class="sitemap_item-headline">Мобилы</div>
            <!-- end .sitemap_item-headline -->
            <!-- begin .sitemap_item-headline -->
            <div class="sitemap_item-headline">Планшеты</div>
            <!-- end .sitemap_item-headline -->
            <!-- begin .sitemap_item-headline -->
            <div class="sitemap_item-headline">Ссылка на дизайн</div>
            <!-- end .sitemap_item-headline -->
          </li>
          <!-- end .sitemap_item -->
          {% for i in sitemap %}
          <li class="sitemap_item">
            <!-- begin .sitemap_item-col -->
            <div class="sitemap_item-col">
              <!-- begin .sitemap_item_name -->
              <div class="sitemap_item_name">
                <a href="/{{i.url}}" class="tooltip" title="Путь к странице: app/templates/pages/{{i.path}}">{{i.name}}</a>
                <span class="sitemap_item_path">app/templates/pages/{{i.path}}</span>
              </div>
              <!-- end .sitemap_item_name -->
            </div>
            <!-- end .sitemap_item-col -->
            <!-- begin .sitemap_item-col -->
            <div class="sitemap_item-col">
              <!-- begin .sitemap_item_progress -->
              <div class="sitemap_item_progress">
                <!-- begin .sitemap_item_progress_bar -->
                <div class="sitemap_item_progress_bar">
                  <progress max="100" value="{{i.progress}}"></progress>
                </div>
                <!-- end .sitemap_item_progress_bar -->
                <!-- begin .sitemap_item_progress_value -->
                <div class="sitemap_item_progress_value">{{i.progress}}%</div>
                <!-- end .sitemap_item_progress_value -->
              </div>
              <!-- end .sitemap_item_progress -->
            </div>
            <!-- end .sitemap_item-col -->
            <!-- begin .sitemap_item-col -->
            <div class="sitemap_item-col">
              <!-- begin .sitemap_item_progress -->
              <div class="sitemap_item_progress">
                <!-- begin .sitemap_item_progress_bar -->
                <div class="sitemap_item_progress_bar">
                  <progress max="100" value="{{i.progress_mobile}}"></progress>
                </div>
                <!-- end .sitemap_item_progress_bar -->
                <!-- begin .sitemap_item_progress_value -->
                <div class="sitemap_item_progress_value">{{i.progress_mobile}}%</div>
                <!-- end .sitemap_item_progress_value -->
              </div>
              <!-- end .sitemap_item_progress -->
            </div>
            <!-- end .sitemap_item-col -->
            <!-- begin .sitemap_item-col -->
            <div class="sitemap_item-col">
              <!-- begin .sitemap_item_progress -->
              <div class="sitemap_item_progress">
                <!-- begin .sitemap_item_progress_bar -->
                <div class="sitemap_item_progress_bar">
                  <progress max="100" value="{{i.progress_tablet}}"></progress>
                </div>
                <!-- end .sitemap_item_progress_bar -->
                <!-- begin .sitemap_item_progress_value -->
                <div class="sitemap_item_progress_value">{{i.progress_tablet}}%</div>
                <!-- end .sitemap_item_progress_value -->
              </div>
              <!-- end .sitemap_item_progress -->
            </div>
            <!-- end .sitemap_item-col -->
            <!-- begin .sitemap_item-col -->
            <div class="sitemap_item-col is-ghost">
              {% if i.figma %}
                <a href="{{i.figma}}" class="external-link" target="_blank">
                  <span class="external-link__text">Figma-макет</span>
                  <span class="external-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
                      <path d="M19 21H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h7v2H5v14h14v-7h2v7c0 1.1-.9 2-2 2z"/>
                      <path d="M21 10h-2V5h-5V3h7z"/>
                      <path d="M8.277 14.308l11.031-11.03 1.414 1.414-11.03 11.03z"/>
                    </svg>
                  </span>
                </a>{% else %}{% endif %}
            </div>
            <!-- end .sitemap_item-col -->
          </li>
          {% endfor %}
        </ul>
        <!-- end .sitemap-list -->
      </div>
      <!-- end .ui-page_sitemap_list -->
    </div>
    <!-- end .ui-page_wrap -->
  </section>
  <!-- end .ui-page_sitemap -->
  <!-- begin .ui-page_kit -->
  <section class="ui-page_kit">
    <!-- begin .ui-page_wrap -->
    <div class="ui-page_wrap">
      <!-- begin .box-headline -->
      <div class="box-headline">
        <h3>Базовые UI-элементы</h3>
      </div>
      <!-- end .box-headline -->
      <!-- begin .ui-page_sitemap_list -->
      <div class="ui-page_kit_list">

      </div>
      <!-- end .ui-page_sitemap_list -->
    </div>
    <!-- end .ui-page_wrap -->
  </section>
  <!-- end .ui-page_kit -->
</div>
<!-- end .ui-page -->
{% endblock %}
