---
title: 'Инвестору Vizavi'
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}
{% import "utils/utils.html" as utils %}

{% block header %}{% endblock %}

{% block content %}
  {% include "components/headline/headline-investor.html" %}
  {% include "components/text-investor/text-investor.html" %}
  {% include "components/investor/new-method/new-method.html" %}
  {% include "components/investor/copy-transaction/copy-transaction.html" %}
  {% include "components/investor/traders-slider/traders-slider.html" %}
  {% include "components/best-traders/best-traders.html" %}
{% endblock %}
