---
title: 'Главная страница Vizavi'
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}
{% import "utils/utils.html" as utils %}

{% block header %}{% endblock %}

{% block content %}
  {% include "components/headline/headline-main.html" %}
  {% include "components/main/main-world/main-world.html" %}
  {% include "components/main/main-features/main-features.html" %}
  {% include "components/main/trading-market/trading-market.html" %}
  {% include "components/main/start-trading/start-trading.html" %}
  {% include "components/company-awards/company-awards.html" %}
{% endblock %}
