---
title: 'Партнёрам Vizavi'
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}
{% import "utils/utils.html" as utils %}

{% block header %}{% endblock %}

{% block content %}
  {% include "components/headline/headline-partners.html" %}
  {% include "components/partners/partners-info/partners-info.html" %}
  {% include "components/partners/partners-steps/partners-steps.html" %}
  {% include "components/partners/partners-good/partners-good.html" %}
  {% include "components/partners/partners-start/partners-start.html" %}
  {% include "components/partners/partners-reason/partners-reason.html" %}
{% endblock %}
