<!-- begin .traders-slider -->
<div class="traders-slider">
  <!-- begin .traders-slider__wrap -->
  <div class="traders-slider__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>5 лучших</span> трейдеров</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .traders-slider__list -->
    <div class="traders-slider__list">
      <!-- begin .traders-slider__left -->
      <div class="traders-slider__left js_slider-left">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.523 20.22l17.143 16.902c.762.751 1.905.751 2.667 0 .38-.188.571-.751.571-1.315 0-.563-.19-.939-.571-1.314L5.523 18.906l15.81-15.587c.38-.375.571-.751.571-1.314 0-.564-.19-.94-.571-1.315C20.952.314 20.57.127 20 .127c-.572 0-.953.187-1.334.563L1.523 17.591c-.38.376-.571.752-.571 1.315s.19 1.127.571 1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .traders-slider__left -->
      <!-- begin .traders-list -->
      <div class="traders-list js_traders-list owl-carousel">
        <!-- end .traders-list -->
        {% for i in range(0, 10) %}
        <!-- begin .trader-card -->
        <div class="trader-card">
          <!-- begin .trader-card__box -->
          <div class="trader-card__box">
            <!-- begin .trader-card__avatar -->
            <div class="trader-card__avatar">
              <img src="assets/images/svg/user-avatar.svg"
                alt="Трейдер Gurumaster"
                width=""
                height="">
            </div>
            <!-- end .trader-card__avatar -->
            <!-- begin .trader-card__header -->
            <div class="trader-card__header">
              <!-- begin .trader-card__header-name -->
              <div class="trader-card__header-name">Gurumaster</div>
              <!-- end .trader-card__header-name -->
            </div>
            <!-- end .trader-card__header -->
            <!-- begin .trader-card__graph -->
            <div class="trader-card__graph">
              <!-- begin .trader-card__graph-box -->
              <div class="trader-card__graph-box graph-container" id="graph-container_{{i+1}}"></div>
              <!-- end .trader-card__graph-box -->
            </div>
            <!-- end .trader-card__graph -->
            <!-- begin .trader-card__body -->
            <div class="trader-card__body">
              <!-- begin .trader-card__row -->
              <div class="trader-card__row trader-card__row--full">
                <!-- begin .trader-card__name -->
                <div class="trader-card__name">Подключенных инвесторов</div>
                <!-- end .trader-card__name -->
                <!-- begin .trader-card__value -->
                <div class="trader-card__value">38</div>
                <!-- end .trader-card__value -->
              </div>
              <!-- end .trader-card__row -->
              <!-- begin .trader-card__row -->
              <div class="trader-card__row">
                <!-- begin .trader-card__name -->
                <div class="trader-card__name">Прибыль за прошлый месяц</div>
                <!-- end .trader-card__name -->
                <!-- begin .trader-card__value -->
                <div class="trader-card__value">181.30%</div>
                <!-- end .trader-card__value -->
              </div>
              <!-- end .trader-card__row -->
              <!-- begin .trader-card__row -->
              <div class="trader-card__row">
                <!-- begin .trader-card__name -->
                <div class="trader-card__name">Прибыль за все время</div>
                <!-- end .trader-card__name -->
                <!-- begin .trader-card__value -->
                <div class="trader-card__value">136.40%</div>
                <!-- end .trader-card__value -->
              </div>
              <!-- end .trader-card__row -->
              <!-- begin .trader-card__row -->
              <div class="trader-card__row">
                <!-- begin .trader-card__name -->
                <div class="trader-card__name">Макс. прибыль в течение дня</div>
                <!-- end .trader-card__name -->
                <!-- begin .trader-card__value -->
                <div class="trader-card__value">1631.70$</div>
                <!-- end .trader-card__value -->
              </div>
              <!-- end .trader-card__row -->
              <!-- begin .trader-card__row -->
              <div class="trader-card__row">
                <!-- begin .trader-card__name -->
                <div class="trader-card__name">Регистрация в рейтинге</div>
                <!-- end .trader-card__name -->
                <!-- begin .trader-card__value -->
                <div class="trader-card__value">472 <span>дня назад</span></div>
                <!-- end .trader-card__value -->
              </div>
              <!-- end .trader-card__row -->
            </div>
            <!-- end .trader-card__body -->
          </div>
          <!-- end .trader-card__box -->
        </div>
        <!-- end .trader-card -->
        {% endfor %}
      </div>
      <!-- begin .traders-slider__right -->
      <div class="traders-slider__right js_slider-right">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.332 17.78L4.19.877c-.762-.751-1.904-.751-2.666 0-.381.188-.572.751-.572 1.315 0 .563.19.939.572 1.314l15.81 15.587-15.81 15.587c-.381.376-.572.751-.572 1.315 0 .563.19.938.572 1.314.38.376.762.563 1.333.563s.952-.187 1.333-.563l17.143-16.901c.381-.376.572-.752.572-1.315s-.19-1.127-.572-1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .traders-slider__right -->
    </div>
    <!-- end .traders-slider__list -->
  </div>
  <!-- end .traders-slider__wrap -->
</div>
<!-- end .traders-slider -->
