.popular-terminal {
  background-color: #232D3A;
  font-family: 'Roboto';
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    color: #ffffff;
  }

  &__info {
    min-width: 650px;
    width: 650px;
  }

  &__screen {
    align-self: flex-start;
    width: 780px;
    min-width: 780px;

    .metatrader-picture {
      position: relative;
    }

    img {
      vertical-align: bottom;
    }
  }

  &__headline {

    .h2 {
      margin: 0;
      color: #A9B0B8;

      span {
        color: #ffffff;

        &.h2-break {
          display: block;
          color: #A9B0B8;
        }
      }
    }
  }

  &__body {
    margin-top: 45px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      background: linear-gradient(
        174.54deg,
        #EA252C 5.8%,
        rgba(234, 37, 44, .86) 48.88%,
        rgba(234, 37, 44, 0) 88.43%
      );
      width: 145px;
      height: 92px;
      left: -18px;
      top: -22px;
      z-index: 0;
      transform: skewY(-4deg);
    }

    p {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }
  }

  &__actions {
    margin-top: 30px;
  }
}

.popular-terminal-actions {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
    align-content: stretch;

    .button {
      margin-right: 20px;
      font-size: 20px;
      line-height: 20px;

      &-with-icon__icon {
        margin-right: 13px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
