<!-- begin .popular-terminal -->
<div class="popular-terminal">
  <!-- begin .popular-terminal__wrap -->
  <div class="popular-terminal__wrap flex flex-center">
    <!-- begin .popular-terminal__info -->
    <div class="popular-terminal__info">
      <!-- begin .popular-terminal__headline -->
      <div class="popular-terminal__headline">
        <h2 class="h2"><span class="h2-break">Торгуйте</span> в <span>самом популярном</span> терминале в мире</h2>
      </div>
      <!-- end .popular-terminal__headline -->
      <!-- begin .popular-terminal__body -->
      <div class="popular-terminal__body">
        <p><strong>MetaTrader 5&nbsp;&mdash; новейший торговый терминал</strong>, в&nbsp;котором есть все инструменты для успешного трейдинга. Совершайте сделки на&nbsp;нескольких рынках одновременно, создавайте торговых роботов, копируйте сделки опытных трейдеров и&nbsp;реализуйте любые торговые идеи. <strong>Независимо от&nbsp;вашего уровня подготовки, в&nbsp;терминале MetaTrader 5&nbsp;вы найдете все, что необходимо для получения прибыли от&nbsp;торговли на&nbsp;финансовых рынках!</strong></p>
      </div>
      <!-- end .popular-terminal__body -->
      <!-- begin .popular-terminal__actions -->
      <div class="popular-terminal__actions popular-terminal-actions">
        <!-- begin .popular-terminal-actions__title -->
        <div class="popular-terminal-actions__title">Скачать терминал</div>
        <!-- end .popular-terminal-actions__title -->
        <!-- begin .popular-terminal-actions__buttons -->
        <div class="popular-terminal-actions__buttons">
          <a
            href="javascript:void(0);"
            class="button button-mini button-red button-with-icon">
            <span class="button-with-icon__icon">
              <svg width="30" height="30">
                <use xlink:href="#i_windows-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
            <span class="button-with-icon__text">Windows</span>
          </a>
          <a
            href="javascript:void(0);"
            class="button button-mini button-red button-with-icon">
            <span class="button-with-icon__icon">
              <svg width="28" height="26">
                <use xlink:href="#i_apple-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
            <span class="button-with-icon__text">iPhone</span>
          </a>
          <a
            href="javascript:void(0);"
            class="button button-mini button-red button-with-icon">
            <span class="button-with-icon__icon">
              <svg width="29" height="36">
                <use xlink:href="#i_android-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
            <span class="button-with-icon__text">Android</span>
          </a>
        </div>
        <!-- end .popular-terminal-actions__buttons -->
      </div>
      <!-- end .popular-terminal__actions -->
    </div>
    <!-- end .popular-terminal__info -->
    <!-- begin .popular-terminal__screen -->
    <div class="popular-terminal__screen">
      <picture class="picture-box">
        <source
          class="metatrader-picture"
          type="image/webp"
          draggable="false"
          srcset="assets/images/main/metatrader5.webp,
                  assets/images/main/metatrader5@2x.webp 2x,
                  assets/images/main/metatrader5@3x.webp 3x
                  ">
        <img
          class="metatrader-picture"
          alt="MetaTrader 5 — новейший торговый терминал"
          draggable="false"
          src="assets/images/main/metatrader5.png"
          srcset="assets/images/main/metatrader5.png,
                  assets/images/main/metatrader5@2x.png 2x,
                  assets/images/main/metatrader5@3x.png 3x
                  ">
      </picture>
    </div>
    <!-- end .popular-terminal__screen -->
  </div>
  <!-- end .popular-terminal__wrap -->
</div>
<!-- end .popular-terminal -->
