.top-traders {
  height: 690px;
  position: relative;

  &__bg {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    padding-top: 50px;

    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @media #{$xs} {
      max-width: $max-width-sx;
    }
    @media #{$sm} {
      max-width: $max-width-sm;
    }
    @media #{$md} {
    }
  }
}
