<!-- begin .top-traders -->
<div class="top-traders">
  <!-- begin .top-traders__bg -->
  <div class="top-traders__bg"></div>
  <!-- end .top-traders__bg -->
  <!-- begin .top-traders__wrap -->
  <div class="top-traders__wrap flex">
    <!-- begin .top-traders__info -->
    <div class="top-traders__info">
      <!-- begin .intro-box -->
      <div class="intro-box text-left intro-box--dark">
        <h2 class="h2"><span>Лучшие трейдеры</span> этой недели</h2>
        <p><strong>Мы&nbsp;защитим ваш депозит от&nbsp;потерь и&nbsp;отрицательного баланса</strong>. В&nbsp;рейтинге участвуют только проверенные специалисты, прошедшие отбор после трех месяцев торговли и&nbsp;совершения не&nbsp;менее 50&nbsp;сделок.</p>
        <!-- begin .top-traders__actions -->
        <div class="top-traders__actions">
          <a href="javascript:void(0);" class="button button-red">Копировать сделки</a>
        </div>
        <!-- end .top-traders__actions -->
      </div>
      <!-- end .intro-box -->
    </div>
    <!-- end .top-traders__info -->
    <!-- begin .top-traders__list -->
    <div class="top-traders__list">
      <!-- begin .traders-slider__left -->
      <div class="traders-slider__left js_slider-left">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.523 20.22l17.143 16.902c.762.751 1.905.751 2.667 0 .38-.188.571-.751.571-1.315 0-.563-.19-.939-.571-1.314L5.523 18.906l15.81-15.587c.38-.375.571-.751.571-1.314 0-.564-.19-.94-.571-1.315C20.952.314 20.57.127 20 .127c-.572 0-.953.187-1.334.563L1.523 17.591c-.38.376-.571.752-.571 1.315s.19 1.127.571 1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .traders-slider__left -->
      <!-- begin .traders-list -->
      <div class="traders-list js_traders-list-main owl-carousel">
        <!-- end .traders-list -->
        {% for i in range(0, 10) %}
        <!-- begin .traders-list__item -->
        <div class="traders-list__item">
          <!-- begin .trader-card -->
          <div class="trader-card">
            <!-- begin .trader-card__box -->
            <div class="trader-card__box">
              <!-- begin .trader-card__avatar -->
              <div class="trader-card__avatar">
                <img src="assets/images/svg/user-avatar.svg"
                  alt="Трейдер Gurumaster"
                  width=""
                  height="">
              </div>
              <!-- end .trader-card__avatar -->
              <!-- begin .trader-card__header -->
              <div class="trader-card__header">
                <!-- begin .trader-card__header-name -->
                <div class="trader-card__header-name">Gurumaster</div>
                <!-- end .trader-card__header-name -->
              </div>
              <!-- end .trader-card__header -->
              <!-- begin .trader-card__graph -->
              <div class="trader-card__graph">
                <!-- begin .trader-card__graph-box -->
                <div class="trader-card__graph-box graph-container" id="graph-container_{{i+1}}"></div>
                <!-- end .trader-card__graph-box -->
              </div>
              <!-- end .trader-card__graph -->
              <!-- begin .trader-card__body -->
              <div class="trader-card__body">
                <!-- begin .trader-card__row -->
                <div class="trader-card__row trader-card__row--full">
                  <!-- begin .trader-card__name -->
                  <div class="trader-card__name">Подключенных инвесторов</div>
                  <!-- end .trader-card__name -->
                  <!-- begin .trader-card__value -->
                  <div class="trader-card__value">67</div>
                  <!-- end .trader-card__value -->
                </div>
                <!-- end .trader-card__row -->
                <!-- begin .trader-card__row -->
                <div class="trader-card__row">
                  <!-- begin .trader-card__name -->
                  <div class="trader-card__name">Прибыль трейдера</div>
                  <!-- end .trader-card__name -->
                  <!-- begin .trader-card__value -->
                  <div class="trader-card__value">524.15%</div>
                  <!-- end .trader-card__value -->
                </div>
                <!-- end .trader-card__row -->
                <!-- begin .trader-card__row -->
                <div class="trader-card__row is-accent">
                  <!-- begin .trader-card__name -->
                  <div class="trader-card__name">Ваша прибыль</div>
                  <!-- end .trader-card__name -->
                  <!-- begin .trader-card__value -->
                  <div class="trader-card__value">524.15%</div>
                  <!-- end .trader-card__value -->
                </div>
                <!-- end .trader-card__row -->
              </div>
              <!-- end .trader-card__body -->
            </div>
            <!-- end .trader-card__box -->
          </div>
          <!-- end .trader-card -->
        </div>
        <!-- end .traders-list__item -->
        {% endfor %}
      </div>
      <!-- begin .traders-slider__right -->
      <div class="traders-slider__right js_slider-right">
        <svg width="22" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.332 17.78L4.19.877c-.762-.751-1.904-.751-2.666 0-.381.188-.572.751-.572 1.315 0 .563.19.939.572 1.314l15.81 15.587-15.81 15.587c-.381.376-.572.751-.572 1.315 0 .563.19.938.572 1.314.38.376.762.563 1.333.563s.952-.187 1.333-.563l17.143-16.901c.381-.376.572-.752.572-1.315s-.19-1.127-.572-1.315z" fill="currentColor"/></svg>
      </div>
      <!-- end .traders-slider__right -->
    </div>
    <!-- end .top-traders__list -->
  </div>
  <!-- end .top-traders__wrap -->
</div>
<!-- end .top-traders -->
