<!-- begin .top-traders -->
<div class="top-traders">
  <!-- begin .top-traders__bg -->
  <div class="top-traders__bg"></div>
  <!-- end .top-traders__bg -->
  <!-- begin .top-traders__wrap -->
  <div class="top-traders__wrap">
    <!-- begin .top-traders__info -->
    <div class="top-traders__info">
      <!-- begin .intro-box -->
      <div class="intro-box text-left intro-box--dark">
        <h2 class="h2"><span>Лучшие трейдеры</span> этой недели</h2>
        <p><strong>Мы&nbsp;защитим ваш депозит от&nbsp;потерь и&nbsp;отрицательного баланса</strong>. В&nbsp;рейтинге участвуют только проверенные специалисты, прошедшие отбор после трех месяцев торговли и&nbsp;совершения не&nbsp;менее 50&nbsp;сделок.</p>
        <!-- begin .top-traders__actions -->
        <div class="top-traders__actions">
          <a href="" class="button button-red">Копировать сделки</a>
        </div>
        <!-- end .top-traders__actions -->
      </div>
      <!-- end .intro-box -->
    </div>
    <!-- end .top-traders__info -->
    <!-- begin .top-traders__list -->
    <div class="top-traders__list"></div>
    <!-- end .top-traders__list -->
  </div>
  <!-- end .top-traders__wrap -->
</div>
<!-- end .top-traders -->
