<!-- begin .best-traders -->
<div class="best-traders">
  <!-- begin .best-traders__wrap -->
  <div class="best-traders__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Копировать лучших</span> трейдеров просто!</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .best-traders__cards -->
    <div class="best-traders__cards number-cards">
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">1</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <!-- begin .number-card__content-title -->
            <div class="number-card__content-title">Пополните платежный счет в своем Личном кабинете</div>
            <!-- end .number-card__content-title -->
            <!-- begin .number-card__content-info -->
            <div class="number-card__content-info">Платежный счет (payment account) — это ваш электронный кошелек, с которого вы можете переводить и снимать деньги</div>
            <!-- end .number-card__content-info -->
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">2</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <!-- begin .number-card__content-title -->
            <div class="number-card__content-title">Создайте инвестиционный счет и переведите на него средства</div>
            <!-- end .number-card__content-title -->
            <!-- begin .number-card__content-info -->
            <div class="number-card__content-info">Переведите средства на свой новый инвестиционный счет с платежного счета</div>
            <!-- end .number-card__content-info -->
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">3</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <!-- begin .number-card__content-title -->
            <div class="number-card__content-title">Подключите трейдера к своему инвестиционному счету</div>
            <!-- end .number-card__content-title -->
            <!-- begin .number-card__content-info -->
            <div class="number-card__content-info">Выберите трейдера с помощью рейтинга доходности и подключите его к своему инвестиционному счету в Личном кабинете</div>
            <!-- end .number-card__content-info -->
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
    </div>
    <!-- end .best-traders__cards -->
  </div>
  <!-- end .best-traders__wrap -->
</div>
<!-- end .best-traders -->
