$best-traders-cards-deg:   20px;

.best-traders {
  padding-top: 60px;
  padding-bottom: 90px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  &__cards {
    margin-top: 50px;
    margin-bottom: 50px;

    .number-card {
      height: 270px;

      &:nth-child(1) .number-card__box {
        clip-path: polygon(
          0 0,
          100% 0%,
          calc(100% - #{$best-traders-cards-deg}) 100%,
          0% 100%
        );
      }

      &:nth-child(2) .number-card__box {
        clip-path: polygon(
          calc(0% + #{$best-traders-cards-deg}) 0,
          100% 0%,
          calc(100% - #{$best-traders-cards-deg}) 100%,
          0% 100%
        );
      }

      &:nth-child(3) .number-card__box {
        clip-path: polygon(
          calc(0% + #{$best-traders-cards-deg}) 0,
          100% 0%,
          100% 100%,
          0% 100%
        );
      }

      &__number {
        left: 40px;
        font-size: 200px;
        line-height: 200px;
      }

      &__content {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        padding-left: 80px;
        padding-right: 0;
      }
    }
  }
}
