<!-- begin .our-value -->
<div class="our-value">
  <!-- begin .our-value__wrap -->
  <div class="our-value__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2">Наши <strong>ценности</strong></h2>
      <p><strong>Корпоративные ценности</strong>&nbsp;&mdash; главные ориентиры компании, которые позволяют нам двигаться вперед</p>
    </div>
    <!-- end .intro-box -->

    <!-- begin .our-value__cards -->
    <div class="our-value__cards number-cards">
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">1</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <p>Мы предлагаем <strong>честные и надежные сервисы</strong></p>
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">2</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <p>Мы несем <strong>ответственность за защиту средств</strong> своих клиентов</p>
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
      <!-- begin .number-card -->
      <div class="number-card">
        <!-- begin .number-card__box -->
        <div class="number-card__box">
          <!-- begin .number-card__number -->
          <div class="number-card__number">3</div>
          <!-- end .number-card__number -->
          <!-- begin .number-card__content -->
          <div class="number-card__content">
            <p>Мы используем в работе <strong>инновационный подход и передовые технологии</strong></p>
          </div>
          <!-- end .number-card__content -->
        </div>
        <!-- end .number-card__box -->
      </div>
      <!-- end .number-card -->
    </div>
    <!-- end .our-value__cards -->

    <!-- begin .intro-box -->
    <div class="intro-box">
      <p>Vizavi сегодня&nbsp;&mdash; это десятки профессионалов, которые развивают финансовый рынок в&nbsp;нескольких сегментах и&nbsp;делают высокотехнологичные продукты доступными каждому. Стремление быть инноватором и&nbsp;внимание к&nbsp;потребностям клиентов&nbsp;&mdash; прочный фундамент успеха бизнес-модели Vizavi.</p>
    </div>
    <!-- end .intro-box -->
  </div>
  <!-- end .our-value__wrap -->
</div>
<!-- end .our-value -->
