$number-card-deg:        30px;
$number-card-deg-before: -14deg;

.our-value {
  padding-bottom: 60px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  &__cards {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.number-cards {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.number-card {
  font-family: 'Roboto';
  height: 210px;
  position: relative;
  flex: 1;
  // margin-right: 20px;

  &:nth-child(1) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        0 0,
        100% 0%,
        calc(100% - #{$number-card-deg}) 100%,
        0% 100%
      );

      &:before {
        width: 60px;
        left: -10px;
      }
    }
  }

  &:nth-child(2) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        calc(0% + #{$number-card-deg}) 0,
        100% 0%,
        calc(100% - #{$number-card-deg}) 100%,
        0% 100%
      );
      box-shadow: none;
    }
  }

  &:nth-child(3) {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    .number-card__box {
      clip-path: polygon(
        calc(0% + #{$number-card-deg}) 0,
        100% 0%,
        100% 100%,
        0% 100%
      );
      box-shadow: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &__box {
    padding: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 80px;
      height: 30px;
      background-color: #EA252C;
      transform: skewX(#{$number-card-deg-before});
    }
  }

  &__number {
    position: absolute;
    top: 50%;
  	transform: translateY(-50%);
    left: 60px;
    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 160px;
    color: #E0E4EB;
    z-index: 0;
  }

  &__content {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #222B34;
    padding-left: 100px;
    z-index: 1;

    p {

      &:last-child {
        margin-bottom: auto;
      }

      strong {
        font-weight: bold;
      }
    }
  }
}
