<!-- begin .terminal-cards -->
<div class="terminal-cards">
  <!-- begin .terminal-cards__bg -->
  <div class="terminal-cards__bg"></div>
  <!-- end .terminal-cards__bg -->
  <!-- begin .terminal-cards__wrap -->
  <div class="terminal-cards__wrap">
    <!-- begin .terminal-cards__cards -->
    <div class="terminal-cards__cards">
      <!-- begin .terminal-card -->
      <div class="terminal-card">
        <!-- begin .terminal-card__box -->
        <div class="terminal-card__box">
          <!-- begin .terminal-card__icon -->
          <div class="terminal-card__icon">
            <img
              src="assets/images/metatrader-market.png"
              alt="MetaTrader Market"
              width="226"
              height="74">
          </div>
          <!-- end .terminal-card__icon -->
          <!-- begin .terminal-card__info -->
          <div class="terminal-card__info">Самый большой в мире магазин торговых роботов, технических индикаторов и скриптов.</div>
          <!-- end .terminal-card__info -->
        </div>
        <!-- end .terminal-card__box -->
      </div>
      <!-- end .terminal-card -->
      <!-- begin .terminal-card -->
      <div class="terminal-card">
        <!-- begin .terminal-card__box -->
        <div class="terminal-card__box">
          <!-- begin .terminal-card__icon -->
          <div class="terminal-card__icon">
            <img
              src="assets/images/svg/cloud-server.svg"
              alt="Облачные технологии"
              width="133"
              height="104">
          </div>
          <!-- end .terminal-card__icon -->
          <!-- begin .terminal-card__info -->
          <div class="terminal-card__info">Круглосуточная работа торговой платформы даже при выключенном компьютере.</div>
          <!-- end .terminal-card__info -->
        </div>
        <!-- end .terminal-card__box -->
      </div>
      <!-- end .terminal-card -->
      <!-- begin .terminal-card -->
      <div class="terminal-card">
        <!-- begin .terminal-card__box -->
        <div class="terminal-card__box">
          <!-- begin .terminal-card__icon -->
          <div class="terminal-card__icon">
            <img
              src="assets/images/MQL5.png"
              alt="MQL5.community"
              width="157"
              height="81">
          </div>
          <!-- end .terminal-card__icon -->
          <!-- begin .terminal-card__info -->
          <div class="terminal-card__info">Язык торговых стратегий для создания, оптимизации и тестирования торговых роботов..</div>
          <!-- end .terminal-card__info -->
        </div>
        <!-- end .terminal-card__box -->
      </div>
      <!-- end .terminal-card -->
      </div>
    <!-- end .terminal-cards__cards -->
  </div>
  <!-- end .terminal-cards__wrap -->
</div>
<!-- end .terminal-cards -->
