.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-family: 'Roboto';
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  color: #FFFFFF;

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: #FFFFFF;
    border-bottom-color: transparent;
  }
}
