<footer class="footer">
  <!-- begin .footer__main -->
  <div class="footer__main footer-main footer--bottom-border">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap flex footer-main__wrap">
      <!-- begin .footer-main__base -->
      <div class="footer-main__base">
        <a href="javascript:void(0);" class="footer-logo">
          <svg width="102" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M48.478 9.06h4.02L47.16 24.199h-3.434l-5.338-15.14h4.02l2.322 7.4.672 3.594h.06l.672-3.573 2.344-7.42zm9.372 15.16h-3.747V9.08h3.747v15.14zM70.758 9.08l.798 1.284-6.555 10.627 8.5-.04.166 3.268H60.204l-.692-1.412 6.408-10.18h-5.949V9.08h10.787z"/><path d="M84.676 24.22h-4.02l-.964-3.038h-3.96l-.919 3.037h-4.02L75.965 9.08h3.413l5.298 15.14zm-5.888-6.436l-1.025-4.424h-.107l-1.09 4.424h2.222zM92.594 9.06h4.02l-5.338 15.139h-3.434l-5.338-15.14h4.02l2.323 7.4.672 3.594h.06l.672-3.573 2.343-7.42zm9.373 15.16H98.22V9.08h3.747v15.14zM21.587 2.88L7.19 26.055l14.417-.083-2.041 5.858.01.016H30.99V.839H20.31l1.277 2.042V2.88zM.384 21.538L8.89 8.281H.384v13.257z"/></g></svg>
        </a>
      </div>
      <!-- end .footer-main__base -->
      <!-- begin .footer-main__center -->
      <div class="footer-main__center">
        <a href="" class="button button-red">Начать торговать</a>
      </div>
      <!-- end .footer-main__center -->
      <!-- begin .footer-main__aside -->
      <div class="footer-main__aside">
        <a href="" class="footer-tel flex">
          <span class="footer-tel__ico">
            <svg width="14" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.133.586H1.867C1.283.586.7 1.174.7 1.761v16.555c0 .704.583 1.174 1.167 1.174H12.25c.583 0 1.167-.47 1.167-1.174V1.761C13.3 1.056 12.833.586 12.133.586zm0 1.175v11.741H1.867V1.761h10.266zM1.867 18.199v-3.523H12.25V18.2H1.867z" fill="#727C8C"/></svg>
          </span>
          <span class="footer-tel__phonenumber">+44 20 3318 5824</span>
        </a>
      </div>
      <!-- end .footer-main__aside -->
    </div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__main -->
  <!-- begin .footer__menu -->
  <div class="footer__menu footer--bottom-border">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap"></div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__menu -->
  <!-- begin .footer__docs -->
  <div class="footer__docs footer--bottom-border">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap"></div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__docs -->
  <!-- begin .footer__disclaimer -->
  <div class="footer__disclaimer footer--bottom-border">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap"></div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__disclaimer -->
  <!-- begin .footer__info -->
  <div class="footer__info footer--bottom-border">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap"></div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__info -->
  <!-- begin .footer__payment-options -->
  <div class="footer__payment-options">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap"></div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__payment-options -->
  <!-- begin .footer__copyright -->
  <div class="footer__copyright footer-copyright">
    <!-- begin .footer__wrap -->
    <div class="footer__wrap footer-copyright__wrap">
      <p>© Vizavi, 2019. Все права защищены.</p>
    </div>
    <!-- end .footer__wrap -->
  </div>
  <!-- end .footer__copyright -->
</footer>
