$footer-bg-color:     #232D3A;
$footer-border-color: rgba(114, 124, 140, .2);

/* Подвал */
.footer {
  background-color: #232D3A;

  @media #{$xs} {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: auto;
      min-height: 90px;
      background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="xMidYMid" width="320" height="63" viewBox="0 0 320 63" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M320 0v62.069H0z" fill="%23232D3A" fill-rule="nonzero"/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: -88px;
    }
  }

  &__wrap {
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @media #{$xs} {
      max-width: 100%;
    }
    @media #{$sm} {
      max-width: 100%;
    }
    @media #{$md} {
      max-width: 100%;
    }
  }

  &--bottom-border {
    border-bottom: 1px solid $footer-border-color;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* Базовые блок подвала */
.footer-main {

  &__wrap {
    padding: 30px 0;
    justify-content: space-between;

    @media #{$xs} {
      padding: 30px 30px;
      flex-direction: column;
    }
  }
}

/* Навигация по подвалу */
.footer-navigation {

  &__wrap {
    padding: 30px 0;
    width: 100%;
    justify-content: space-between;

    @media #{$xs} {
      padding: 30px 30px;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
    }
  }

  &__caption {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #6E7A86;
  }

  &__menu {
    position: relative;
    padding-left: 15px;
    margin-top: 15px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #727C8C;
      width: 1px;
      opacity: .2;
    }
  }
}

/* Ссылки на документы */
.footer-docs {

  &__wrap {
    padding: 30px 20px;
  }

  &__list {
    justify-content: space-between;
    width: 100%;

    @media #{$xs} {
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: column;
    }
  }
}

/* Предупредждение */
.footer-disclaimer {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;

  color: #FFFFFF;

  &__wrap {
    padding: 30px 0;

    @media #{$xs} {
      padding: 30px 30px;
    }
  }

  &__icon {
    margin-right: 40px;
    margin-top: 5px;

    @media #{$xs} {
      margin-right: 15px;
    }
  }
}

/* Информация */
.footer-info {
  font-family: 'Roboto';
  font-weight: 300;
  color: #6E7A86;
  font-size: 11px;
  flex-shrink: 12px;

  &__wrap {
    padding: 30px 60px;
    text-align: center;
  }

  p {
    margin-bottom: 10px;

    a {
      color: #EA252C;
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: #EA252C;
      }
    }
  }
}

/* Принимаем к оплате */
.footer-payment-options {

  &__wrap {
    padding: 30px 60px;
  }

  &__list {
    justify-content: space-between;
    width: 100%;
    opacity: .4;
  }

  &__item {
    opacity: .75;

    img {
      vertical-align: bottom;
    }
  }
}

/* Копирайт в подвале */
.footer-copyright {
  background-color: $footer-border-color;
  text-align: center;
  color: #fff;
  height: 50px;

  @media #{$xs} {
    height: 70px;
  }

  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  p {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 0;
  }
}

/* Телефонный номер с иконкой */
.footer-tel {
  text-decoration: none;
  border-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  font-weight: bold;

  &__ico {
    align-self: center;
    margin-right: 10px;
  }
}

/* Логотип-ссылка в подвале */
.footer-logo {
  text-decoration: none;
  border-bottom: 0;
}

/* Ссылка на документ */
.doc-link {
  text-decoration: none;
  border-bottom: 0;
  display: inline-flex;
  align-items: center;
  align-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;

  color: #FFFFFF;

  &__icon {
    margin-right: 15px;
  }

  /* PDF */
  &--pdf .doc-link__icon {
    background-image: url('../images/svg/pdf.svg');
    width: 21px;
    height: 24px;
  }
}
