<!-- begin .headline -->
<div class="headline headline--main">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2"><span>Торговля</span> криптовалютой в 1 клик</h1>
      <p>VIZAVI&nbsp;&mdash; единственный брокер, который предоставляет своим клиентам <strong>производные инструменты с&nbsp;криптовалютой</strong>.</p>
    </div>
    <!-- end .headline__content -->
    <!-- begin .headline__actions -->
    <div class="headline__actions headline-actions">
      <!-- begin .headline__actions__buttons -->
      <div class="headline__actions__buttons">
        <a href="javascript:void(0);" class="button button-red">Начать торговать</a>
        <a href="javascript:void(0);" class="button button-ghost">Узнать подробнее</a>
      </div>
      <!-- end .headline__actions__buttons -->
    </div>
    <!-- end .headline__actions -->
  </div>
  <!-- end .headline__wrap -->
  <!-- begin .headline-flag --><div class="headline-flag"></div><!-- end .headline-flag -->
</div>
<!-- end .headline -->
