<!-- begin .headline -->
<div class="headline headline--trading-account">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2">Торговые счета</h1>
      <p>Получите доступ ко всем рынкам <strong>с одного торгового счета</strong></p>
      <!-- begin .headline__actions -->
      <div class="headline__actions headline-actions">
        <!-- begin .headline__actions__icons -->
        <div class="headline-actions__icons">
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle"></div>
          <!-- end .icon-circle -->
        </div>
        <!-- end .headline__actions__icons -->
        <!-- begin .headline-actions__buttons -->
        <div class="headline-actions__buttons">
          <a href="javascript:void(0);" class="button button-red">Торговый счет</a>
          <a href="javascript:void(0);" class="button button-light">Демо-счет</a>
        </div>
        <!-- end .headline-actions__buttons -->
      </div>
      <!-- end .headline__actions -->
    </div>
    <!-- end .headline__content -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline -->
