<!-- begin .headline -->
<div class="headline headline--partners">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2"></h1>
      <p></p>
      <!-- begin .headline__actions -->
      <div class="headline__actions headline-actions">
        <a href="javascript:void(0);" class="button button-red">Зарегистрироваться</a>
      </div>
      <!-- end .headline__actions -->
    </div>
    <!-- end .headline__content -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline -->
