<!-- begin .headline -->
<div class="headline">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h2 class="h2">О компании</h2>
      <p><strong>Vizavi</strong> — компания нового поколения, которая предоставляет трейдерам <strong>самый быстрый и защищенный доступ к финансовым рынкам</strong>.</p>
    </div>
    <!-- end .headline__content -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline -->
