<!-- begin .headline -->
<div class="headline headline--about">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2">Копируйте сделки профессионалов</h1>
      <p><strong>Зарабатывайте на сделках трейдеров</strong>, которые доказали свое мастерство</p>
      <!-- begin .headline__actions -->
      <div class="headline__actions">
        <a href="javascript:void(0);" class="button button-red">Копировать сделки</a>
      </div>
      <!-- end .headline__actions -->
    </div>
    <!-- end .headline__content -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline -->
