<!-- begin .headline -->
<div class="headline headline--main">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2"><span>Торговля</span> криптовалютой в 1 клик</h1>
      <p>VIZAVI&nbsp;&mdash; единственный брокер, который предоставляет своим клиентам <strong>производные инструменты с&nbsp;криптовалютой</strong>.</p>
    </div>
    <!-- end .headline__content -->
    <!-- begin .headline__actions -->
    <div class="headline__actions headline-actions">
      <!-- begin .headline__actions__buttons -->
      <div class="headline__actions__buttons">
        <a href="javascript:void(0);" class="button button-red">Начать торговать</a>
        <a href="javascript:void(0);" class="button button-ghost">Узнать подробнее</a>
      </div>
      <!-- end .headline__actions__buttons -->
    </div>
    <!-- end .headline__actions -->

    <!-- begin .headline__features -->
    <div class="headline__features headline-features">
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="40" height="36">
              <use xlink:href="#i_tools" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">500 +</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Торговых инструментов</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="37" height="40">
              <use xlink:href="#i_analytics" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">6 рынков</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Торговля всеми классами активов</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="41" height="43">
              <use xlink:href="#i_certified" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">Лицензированные</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">поставщики ликвидности</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
      <!-- begin .headline-feature -->
      <div class="headline-feature">
        <!-- begin .headline-feature__box -->
        <div class="headline-feature__box">
          <!-- begin .headline-feature__icon -->
          <div class="headline-feature__icon">
            <svg width="38" height="37">
              <use xlink:href="#i_fullday" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .headline-feature__icon -->
          <!-- begin .headline-feature__description -->
          <div class="headline-feature__description">
            <!-- begin .headline-feature__title -->
            <div class="headline-feature__title">24/7</div>
            <!-- end .headline-feature__title -->
            <!-- begin .headline-feature__info -->
            <div class="headline-feature__info">Круглосуточная служба поддержки</div>
            <!-- end .headline-feature__info -->
          </div>
          <!-- end .headline-feature__description -->
        </div>
        <!-- end .headline-feature__box -->
      </div>
      <!-- end .headline-feature -->
    </div>
    <!-- end .headline__features -->
  </div>
  <!-- end .headline__wrap -->
  <!-- begin .headline-flag --><div class="headline-flag"></div><!-- end .headline-flag -->
</div>
<!-- end .headline -->
