<!-- begin .headline -->
<div class="headline headline--trading-account">
  <!-- begin .headline__wrap -->
  <div class="headline__wrap">
    <!-- begin .headline__content -->
    <div class="headline__content">
      <h1 class="h2">Торговые счета</h1>
      <p>Получите доступ ко всем рынкам <strong>с одного торгового счета</strong></p>
      <!-- begin .headline__actions -->
      <div class="headline__actions headline-actions">
        <!-- begin .headline__actions__icons -->
        <div class="headline-actions__icons">
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="23" height="19">
              <use xlink:href="#i_money" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="13" height="20">
              <use xlink:href="#i_bitcoin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="18" height="27">
              <use xlink:href="#i_cert" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="22" height="25">
              <use xlink:href="#i_jewel" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="22" height="24">
              <use xlink:href="#i_loupe-with-graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
          <!-- begin .icon-circle -->
          <div class="icon-circle">
            <svg width="18" height="24">
              <use xlink:href="#i_candle-on-graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .icon-circle -->
        </div>
        <!-- end .headline__actions__icons -->
        <!-- begin .headline-actions__buttons -->
        <div class="headline-actions__buttons">
          <a href="javascript:void(0);" class="button button-red">Торговый счет</a>
          <a href="javascript:void(0);" class="button button-light">Демо-счет</a>
        </div>
        <!-- end .headline-actions__buttons -->
      </div>
      <!-- end .headline__actions -->
    </div>
    <!-- end .headline__content -->
  </div>
  <!-- end .headline__wrap -->
</div>
<!-- end .headline -->
