.company-awards {
  width: 100%;
  position: relative;
  padding-top: 70px;
  min-height: 250px;
  height: auto;
  background-color: #F3F4F5;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-image: url('../images/company-awards-bg.png');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    z-index: 1;
  }

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
  }

  &__list {
    margin-top: 60px;
  }
}
