<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- begin .company-awards -->
<div class="company-awards">
  <!-- begin .company-awards__bg -->
  <div class="company-awards__bg"></div>
  <!-- end .company-awards__bg -->
  <!-- begin .company-awards__wrap -->
  <div class="company-awards__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span class="h2-red">Награды</span> компании</h2>
      <p>Vizavi помогает трейдерам по всему миру реализовать свой потенциал. Разработка и внедрение новых сервисов, а также внимательное отношение к каждому клиенту были отмечены различными финансовыми наградами.</p>
    </div>
    <!-- end .intro-box -->

  </div>
  <!-- end .company-awards__wrap -->
</div>
<!-- end .company-awards -->
