<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- begin .company-awards -->
<div class="company-awards">
  <!-- begin .company-awards__bg -->
  <div class="company-awards__bg"></div>
  <!-- end .company-awards__bg -->
  <!-- begin .company-awards__wrap -->
  <div class="company-awards__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span class="h2-red">Награды</span> компании</h2>
      <p>Vizavi помогает трейдерам по всему миру реализовать свой потенциал. Разработка и внедрение новых сервисов, а также внимательное отношение к каждому клиенту были отмечены различными финансовыми наградами.</p>
    </div>
    <!-- end .intro-box -->
    <!-- begin .company-awards__list -->
    <div class="company-awards__list flex flex-stretch flex-center">
      <!-- begin .company-awards__item -->
      <div class="company-awards__item">
        <!-- begin .company-awards__box -->
        <div class="company-awards__box flex flex-center">
          <!-- begin .company-awards__name -->
          <div class="company-awards__name">Самое быстрое исполнение ордеров</div>
          <!-- end .company-awards__name -->
          <!-- begin .company-awards__type -->
          <div class="company-awards__type">IAFT Awards 2018</div>
          <!-- end .company-awards__type -->
        </div>
        <!-- end .company-awards__box -->
      </div>
      <!-- end .company-awards__item -->
      <!-- begin .company-awards__item -->
      <div class="company-awards__item">
        <!-- begin .company-awards__box -->
        <div class="company-awards__box flex flex-center">
          <!-- begin .company-awards__name -->
          <div class="company-awards__name">Самый высокодоходный брокер</div>
          <!-- end .company-awards__name -->
          <!-- begin .company-awards__type -->
          <div class="company-awards__type">IAFT Awards 2018</div>
          <!-- end .company-awards__type -->
        </div>
        <!-- end .company-awards__box -->
      </div>
      <!-- end .company-awards__item -->
      <!-- begin .company-awards__item -->
      <div class="company-awards__item">
        <!-- begin .company-awards__box -->
        <div class="company-awards__box flex flex-center">
          <!-- begin .company-awards__name -->
          <div class="company-awards__name">Лучшая инвестиционная платформа</div>
          <!-- end .company-awards__name -->
          <!-- begin .company-awards__type -->
          <div class="company-awards__type">IAFT Awards 2018</div>
          <!-- end .company-awards__type -->
        </div>
        <!-- end .company-awards__box -->
      </div>
      <!-- end .company-awards__item -->
    </div>
    <!-- end .company-awards__list -->
  </div>
  <!-- end .company-awards__wrap -->
</div>
<!-- end .company-awards -->
