.company-awards {
  width: 100%;
  position: relative;
  padding-top: 90px;
  min-height: 250px;
  height: auto;
  background-color: #F3F4F5;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-image: url('../images/company-awards-bg.png');
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    z-index: 1;
  }

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;

    @media #{$xs} {
      max-width: $max-width-sx;
    }
    @media #{$sm} {
      max-width: $max-width-sm;
    }
    @media #{$md} {
    }
  }

  &__list {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Roboto';
    text-align: center;
    height: auto;

    @media #{$xs} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    @media #{$sm} {
    }
    @media #{$md} {
    }
  }

  &__item {
    width: 280px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__box {
    flex-direction: column;
    min-height: 71px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 71px;
      top: 0;
    }

    &:before {
      background-image: url('../images/svg/left-olive-branch.svg');
      width: 35px;
      left: 0;
    }

    &:after {
      background-image: url('../images/svg/right-olive-branch.svg');
      width: 34px;
      right: 0;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: #4E565D;
    margin-bottom: 30px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      bottom: -15px;
      left: 50%;
      margin-right: -50%;
      transform: translateX(-50%);
      background-color: #EA252C;
    }
  }

  &__type {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #727C8C;
  }
}
