<!-- begin .text-page -->
<div class="text-page">
  <!-- begin .text-page__wrap -->
  <div class="text-page__wrap">
    <!-- begin .text-page__content -->
    <div class="text-page__content text-content">
      <h1 class="h1">Регламентирующие <span>документы</span></h1>
      <p>Ознакомьтесь со списком основных документов понашей компании. Для получения любых иных документов просим обращаться к нашим сотрудникам по телефону или почте.</p>
      <!-- begin .list-box -->
      <div class="list-box">
        <h2 class="h2 title-light">Реквизиты компании</h2>
        <ul class="list-mini">
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--logo">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Представительство в Англии</span>
              <span class="doc-link__type doc-link__type-pdf">
                <span class="doc-link__type-logo"></span>
                <span class="doc-link__type-name">PDF</span>
              </span>
              <span class="doc-link__size">181.14 KB</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--logo">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Представительство в Сент-Ви́нсенте</span>
              <span class="doc-link__type doc-link__type-pdf">
                <span class="doc-link__type-logo"></span>
                <span class="doc-link__type-name">PDF</span>
              </span>
              <span class="doc-link__size">10.09 KB</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--logo">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Представительное представительство в ещё одном формате</span>
              <span class="doc-link__type doc-link__type-xls">
                <span class="doc-link__type-logo"></span>
                <span class="doc-link__type-name">XLS</span>
              </span>
              <span class="doc-link__size">1.08 МБ</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- end .list-box -->
      <!-- begin .list-box -->
      <div class="list-box">
        <h2 class="h2 title-light">Прочие документы</h2>
        <ul class="list-mini">
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--pdf">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Соглашение о конфиденциальности</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--pdf">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Соглашение о конфиденциальности</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--pdf">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Политика возврата платежей</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--pdf">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Политика возврата платежей</span>
            </a>
          </li>
          <li class="list-mini__item">
            <a href="javascript:void(0);" class="doc-link doc-link--pdf">
              <span class="doc-link__icon"></span>
              <span class="doc-link__name">Уведомление о рисках</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- end .list-box -->
    </div>
    <!-- end .text-page__content -->
  </div>
  <!-- end .text-page__wrap -->
</div>
<!-- end .text-page -->
