.text-page {

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.text-content {
  font-family: 'Roboto';

  .h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-transform: uppercase;
    color: #222B34;
    margin: 0 0 20px 0;

    span {
      color: #EA252C;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #222B34;
  }

  .list-box {
    margin-top: 40px;
  }

  .title-light {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase;
    color: #222B34;
    margin: 0 0 15px 0;
  }

  .list-mini {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }

  .doc-link {
    font-size: 18px;
    line-height: 29px;
    color: #7086A2;

    .doc-link__icon {
      min-width: 25px;
      background-repeat: no-repeat;
    }

    &--logo .doc-link__icon {
      background-image: url('../images/svg/mini-logo.svg');
      width: 25px;
      height: 25px;
    }

    &__type {
      margin-left: 15px;
      display: flex;
      align-items: center;
      align-content: center;

      &-name {
        margin-left: 5px;
      }

      &.doc-link__type-pdf {
        color: #EA252C;

        .doc-link__type-logo {
          background-image: url('../images/svg/pdf-logo.svg');
          width: 22px;
          height: 22px;
        }

        .doc-link__type-name {
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #EA252C;
        }
      }

      &.doc-link__type-xls {
        color: #107C10;

        .doc-link__type-logo {
          background-image: url('../images/svg/xls-logo.svg');
          width: 20px;
          height: 20px;
        }

        .doc-link__type-name {
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #107C10;
        }
      }
    }

    &__size {
      margin-left: 10px;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: #A9B0B8;
    }

    &:hover {
      color: #EA252C;
    }
  }
}
