<!-- begin .main-features -->
<div class="main-features">
  <!-- begin .main-features__bg -->
  <div class="main-features__bg"></div>
  <!-- end .main-features__bg -->
  <!-- begin .main-features__wrap -->
  <div class="main-features__wrap">
    <!-- begin .main-features__cards -->
    <div class="main-features__cards">
      {% include "components/icon-cards/icon-cards-features.html" %}
    </div>
    <!-- end .main-features__cards -->
  </div>
  <!-- end .main-features__wrap -->
</div>
<!-- end .main-features -->
