<!-- begin .icon-cards -->
<div class="icon-cards icon-cards--light">
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="49" height="49">
            <use xlink:href="#i_wallet" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Максимальная прибыль</strong> от дохода нескольких трейдеров</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="45" height="48">
            <use xlink:href="#i_loupe-with-graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Полная прозрачность</strong> процесса формирования и ведения портфеля</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="55" height="55">
            <use xlink:href="#i_allocation" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Минимизация рисков</strong> за счет распределения средств</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="58" height="50">
            <use xlink:href="#i_crm" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Автоматический расчет</strong> рисков и доходности при формировании портфеля</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
</div>
<!-- end .icon-cards -->
