<!-- begin .icon-cards -->
<div class="icon-cards icon-cards--three icon-cards--dark">
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Бесплатная CRM-система</strong> (автоматический учет)</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Клиентская база</strong></p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Выделенная служба поддержки</strong> для партнеров</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Телефония</strong> от компании</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Telegram-канал</strong> для привлеченных клиентов</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>VPS-хостинг</strong> для бесперебойной работы</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p>Инструменты для <strong>обучения клиентов</strong></p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p>Готовые <strong>рекламные лендинги</strong></p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="" height="">
            <use xlink:href="#" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p>Вспомогательные <strong>маркетинговые материалы</strong></p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
</div>
<!-- end .icon-cards -->
