<!-- begin .icon-cards -->
<div class="icon-cards icon-cards--white">
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="43" height="34">
            <use xlink:href="#i_speedometer" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>от 0.05 секунд</strong> Исполнение ордеров </p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="47" height="47">
            <use xlink:href="#i_loop" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Моментальный</strong> вывод средств</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="56" height="42">
            <use xlink:href="#i_balance-scales" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>1:500</strong> Кредитное плечо</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="46" height="46">
            <use xlink:href="#i_banknotes" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Партнерская</strong> программа с выплаты до 50% </p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
</div>
<!-- end .icon-cards -->
