$icon-card-deg:   8deg;

.icon-cards {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 40px ;
  padding-bottom: 60px;

  &--numbers {

    .icon-card {
      margin-bottom: 50px;

      &__content {
        display: flex;
        align-items: center;
        align-content: center;
        padding-right: 15px;
      }

      &__icon:before {
        top: 30px;
      }
    }
  }

  &--three {
    .icon-card {
      flex: 1 32%;
      flex-basis: 32%;
      max-width: 32%;
      min-width: 32%;
    }
  }

  &--dark {

    .icon-card {
      margin-bottom: 85px;

      &__content {
        position: relative;
        top: 20px;
        font-weight: 100;
        padding-right: 40px;
      }

      &__icon:before {
        top: 30px;
        background-color: #7086A2;
      }
    }
  }

  &--black {
    padding-bottom: 0;
    margin: 0;

    .icon-card {
      margin-bottom: 80px;

      &__content {
        position: relative;
        top: 20px;
        font-weight: 100;
      }

      &__icon:before {
        left: 10px;
        top: 50px;
        background-color: #222B34;
      }
    }
  }

  &--light {
    padding-bottom: 0;

    .icon-card {
      margin-bottom: 85px;

      &__content {
        position: relative;
        top: 20px;
        font-weight: 100;
      }

      &__icon {
        color: #ffffff;

        &:before {
          top: 30px;
          background-color: #E0E4EB;
        }
      }
    }
  }
}

.icon-card {
  width: 50%;
  flex-basis: 50%;
  flex: 1 50%;
  margin-bottom: 100px;

  &__box {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &__icon {
    margin-right: 40px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 100px;
      height: 100px;
      display: block;
      background-color: #E0E4EB;
      transform: skewY(-#{$icon-card-deg});
      top: 50px;
      left: 15px;
      z-index: -1;
    }

    &-ico {
      width: 100px;
      min-width: 100px;
      height: 100px;
      background-color: #EA252C;
      transform: skewY(-#{$icon-card-deg});
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      color: #ffffff;

      svg {
        transform: skewY(#{$icon-card-deg});
      }
    }
  }

  &__content {
    padding-right: 50px;

    p {
      font-size: 18px;
      line-height: 25px;
      color: #222B34;

      strong {
        font-weight: bold;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-number {
      font-weight: 900;
      font-size: 96px;
      line-height: 135px;
      color: #7086A2;
      margin-right: 15px;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #222B34;
    }

    &-info {
      font-weight: 100;
      margin-top: 10px;
      font-size: 16px;
      line-height: 19px;
      color: #6E7A86;
    }
  }
}
