<!-- begin .icon-cards -->
<div class="icon-cards">
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="40" height="35">
            <use xlink:href="#i_bank" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Bridge-технология</strong> для подключения к ECN-сетям и <strong>хеджирования сделок</strong> клиентов</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="40" height="35">
            <use xlink:href="#i_bank" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Bridge-технология</strong> для подключения к ECN-сетям и <strong>хеджирования сделок</strong> клиентов</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="40" height="35">
            <use xlink:href="#i_bank" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Bridge-технология</strong> для подключения к ECN-сетям и <strong>хеджирования сделок</strong> клиентов</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="40" height="35">
            <use xlink:href="#i_bank" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor --><div class="icon-card__icon-decor"></div><!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <p><strong>Bridge-технология</strong> для подключения к ECN-сетям и <strong>хеджирования сделок</strong> клиентов</p>
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
</div>
<!-- end .icon-cards -->
