<!-- begin .icon-cards -->
<div class="icon-cards icon-cards--numbers">
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="47" height="49">
            <use xlink:href="#i_analytics" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor -->
        <div class="icon-card__icon-decor"></div>
        <!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <!-- begin .icon-card__content-number -->
        <div class="icon-card__content-number">38</div>
        <!-- end .icon-card__content-number -->
        <!-- begin .icon-card__content-description -->
        <div class="icon-card__content-description">
          <!-- begin .icon-card__content-title -->
          <div class="icon-card__content-title">Встроенных технических индикаторов</div>
          <!-- end .icon-card__content-title -->
        </div>
        <!-- end .icon-card__content-description -->
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="50" height="43">
            <use xlink:href="#i_graph" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <!-- begin .icon-card__content-number -->
        <div class="icon-card__content-number">21</div>
        <!-- end .icon-card__content-number -->
        <!-- begin .icon-card__content-description -->
        <div class="icon-card__content-description">
          <!-- begin .icon-card__content-title -->
          <div class="icon-card__content-title">Период графиков</div>
          <!-- end .icon-card__content-title -->
        </div>
        <!-- end .icon-card__content-description -->
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="54" height="52">
            <use xlink:href="#i_diagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor -->
        <div class="icon-card__icon-decor"></div>
        <!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <!-- begin .icon-card__content-number -->
        <div class="icon-card__content-number">4</div>
        <!-- end .icon-card__content-number -->
        <!-- begin .icon-card__content-description -->
        <div class="icon-card__content-description">
          <!-- begin .icon-card__content-title -->
          <div class="icon-card__content-title">Режима исполнения ордеров</div>
          <!-- end .icon-card__content-title -->
          <!-- begin .icon-card__content-info -->
          <div class="icon-card__content-info">Немедленный, по&nbsp;запросу, по&nbsp;рынку и&nbsp;биржевой</div>
          <!-- end .icon-card__content-info -->
        </div>
        <!-- end .icon-card__content-description -->
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
  <!-- begin .icon-card -->
  <div class="icon-card">
    <!-- begin .icon-card__box -->
    <div class="icon-card__box">
      <!-- begin .icon-card__icon -->
      <div class="icon-card__icon">
        <!-- begin .icon-card__icon-ico -->
        <div class="icon-card__icon-ico">
          <svg width="66" height="52">
            <use xlink:href="#i_monitoring" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <!-- end .icon-card__icon-ico -->
        <!-- begin .icon-card__icon-decor -->
        <div class="icon-card__icon-decor"></div>
        <!-- end .icon-card__icon-decor -->
      </div>
      <!-- end .icon-card__icon -->
      <!-- begin .icon-card__content -->
      <div class="icon-card__content">
        <!-- begin .icon-card__content-number -->
        <div class="icon-card__content-number">2</div>
        <!-- end .icon-card__content-number -->
        <!-- begin .icon-card__content-description -->
        <div class="icon-card__content-description">
          <!-- begin .icon-card__content-title -->
          <div class="icon-card__content-title">Системы учета ордеров</div>
          <!-- end .icon-card__content-title -->
          <!-- begin .icon-card__content-info -->
          <div class="icon-card__content-info">Традиционная неттинговая и хеджинговая</div>
          <!-- end .icon-card__content-info -->
        </div>
        <!-- end .icon-card__content-description -->
      </div>
      <!-- end .icon-card__content -->
    </div>
    <!-- end .icon-card__box -->
  </div>
  <!-- end .icon-card -->
</div>
<!-- end .icon-cards -->
