<!-- begin .one-click -->
<div class="one-click">
  <!-- begin .one-click__bg -->
  <div class="one-click__bg"></div>
  <!-- end .one-click__bg -->
  <!-- begin .one-click__bg -->
  <div class="one-click__bgbox"></div>
  <!-- end .one-click__bg -->
  <!-- begin .one-click__wrap -->
  <div class="one-click__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Копируйте</span> лучших <span class="h2-break">трейдеров в один клик!</span></h2>
    </div>
    <!-- end .intro-box -->

    <!-- begin .one-click__cards -->
    <div class="one-click__cards">
      <!-- begin .one-click__item -->
      <div class="one-click__item">
        <!-- begin .one-click__box -->
        <div class="one-click__box">
          <!-- begin .one-click__content -->
          <div class="one-click__content">
            <!-- begin .one-click__icon -->
            <div class="one-click__icon"></div>
            <!-- end .one-click__icon -->
            <!-- begin .one-click__step -->
            <div class="one-click__step">1 шаг</div>
            <!-- end .one-click__step -->
            <!-- begin .one-click__body -->
            <div class="one-click__body"><strong>Выберите самых талантливых</strong> управляющих среди успешных трейдеров из 192 стран.</div>
            <!-- end .one-click__body -->
          </div>
          <!-- end .one-click__content -->
        </div>
        <!-- end .one-click__box -->
      </div>
      <!-- end .one-click__item -->
      <!-- begin .one-click__item -->
      <div class="one-click__item">
        <!-- begin .one-click__box -->
        <div class="one-click__box">
          <!-- begin .one-click__content -->
          <div class="one-click__content">
            <!-- begin .one-click__icon -->
            <div class="one-click__icon">
              <svg width="52" height="54">
                <use xlink:href="#i_target-width-bag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <!-- end .one-click__icon -->
            <!-- begin .one-click__step -->
            <div class="one-click__step">2 шаг</div>
            <!-- end .one-click__step -->
            <!-- begin .one-click__body -->
            <div class="one-click__body"><strong>Соберите свой портфель</strong> и получите автоматический расчет рисков и доходности.</div>
            <!-- end .one-click__body -->
          </div>
          <!-- end .one-click__content -->
        </div>
        <!-- end .one-click__box -->
      </div>
      <!-- end .one-click__item -->
      <!-- begin .one-click__item -->
      <div class="one-click__item">
        <!-- begin .one-click__box -->
        <div class="one-click__box">
          <!-- begin .one-click__content -->
          <div class="one-click__content">
            <!-- begin .one-click__icon -->
            <div class="one-click__icon"></div>
            <!-- end .one-click__icon -->
            <!-- begin .one-click__step -->
            <div class="one-click__step">3 шаг</div>
            <!-- end .one-click__step -->
            <!-- begin .one-click__body -->
            <div class="one-click__body"><strong>Создайте свои</strong> собственные <strong>правила</strong> торговли.</div>
            <!-- end .one-click__body -->
          </div>
          <!-- end .one-click__content -->
        </div>
        <!-- end .one-click__box -->
      </div>
      <!-- end .one-click__item -->
      <!-- begin .one-click__item -->
      <div class="one-click__item">
        <!-- begin .one-click__box -->
        <div class="one-click__box">
          <!-- begin .one-click__content -->
          <div class="one-click__content">
            <!-- begin .one-click__icon -->
            <div class="one-click__icon"></div>
            <!-- end .one-click__icon -->
            <!-- begin .one-click__step -->
            <div class="one-click__step">4 шаг</div>
            <!-- end .one-click__step -->
            <!-- begin .one-click__body -->
            <div class="one-click__body">Следите за <strong>ростом</strong> своего <strong>депозита</strong>!</div>
            <!-- end .one-click__body -->
          </div>
          <!-- end .one-click__content -->
        </div>
        <!-- end .one-click__box -->
      </div>
      <!-- end .one-click__item -->
    </div>
    <!-- end .one-click__cards -->
  </div>
  <!-- end .one-click__wrap -->
</div>
<!-- end .one-click -->
