<!-- begin .new-method -->
<div class="new-method">
  <!-- begin .new-method__wrap -->
  <div class="new-method__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Новый подход</span> к инвестициям</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .new-method__bg -->
    <div class="new-method__bg flex flex-stretch">
      <!-- begin .new-method__info -->
      <div class="new-method__item new-method__info">
        <!-- begin .intro-box -->
        <div class="intro-box text-left p-decor">
          <h3 class="h2">Социальный трейдинг</h2>
          <p><strong>Социальный трейдинг в&nbsp;Vizavi</strong>&nbsp;&mdash; это инвестиции, за&nbsp;которыми не&nbsp;нужно постоянно следить. <strong>Получайте пассивный доход</strong> от успешной торговли профессионалов, <strong>уделяя этому столько времени, сколько считаете нужным</strong></p>
          <!-- begin .new-method__actions -->
          <div class="new-method__actions">
            <a href="javascript:void(0);" class="button button-red">Открыть счет</a>
          </div>
          <!-- end .new-method__actions -->
        </div>
        <!-- end .intro-box -->
      </div>
      <!-- end .new-method__info -->
      <!-- begin .new-method__list -->
      <div class="new-method__item new-method__list">
        <ul class="check-in-circle">
          <li>Автоматическое копирование сделок</li>
          <li>Защита от отрицательного баланса</li>
          <li>Индивидуальное ограничение предельного убытка</li>
          <li>Закрытие сделок при достижении лимита потерь</li>
        </ul>
      </div>
      <!-- end .new-method__list -->
    </div>
    <!-- end .new-method__bg -->
  </div>
  <!-- end .new-method__wrap -->
</div>
<!-- end .new-method -->
