<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<header class="header">
  <!-- begin .header__main -->
  <div class="header__main">
    <!-- begin .header__wrap -->
    <div class="header__wrap flex">
      <!-- begin .header__base -->
      <div class="header__base flex">
        <a href="/" class="header__logo header-logo">
          <svg width="133" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M62.855 10.42h5.254l-6.976 19.573h-4.488L49.668 10.42h5.254l3.036 9.567.878 4.646h.08l.877-4.62 3.062-9.593zM75.105 30.02h-4.897V10.447h4.897V30.02zM91.975 10.447l1.042 1.66-8.566 13.74 11.107-.054.218 4.227H78.18l-.904-1.827 8.376-13.16h-7.775v-4.586h14.098z" fill="#000"/><path d="M110.164 30.02h-5.253l-1.261-3.927h-5.175l-1.2 3.927H92.02l6.758-19.573h4.462l6.923 19.573zm-7.695-8.32l-1.34-5.72h-.139l-1.425 5.72h2.904zM120.513 10.42h5.253l-6.976 19.573h-4.488l-6.976-19.573h5.254l3.036 9.567.877 4.646h.08l.877-4.62 3.063-9.593zM132.763 30.02h-4.898V10.447h4.898V30.02z" fill="#000"/><path d="M27.711 2.433L8.896 32.393l18.842-.106-2.668 7.573.013.02H40V-.207H26.041l1.67 2.64zM0 26.553l11.118-17.14H0v17.14z" fill="#EA252C"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h133v40H0z"/></clipPath></defs></svg>
        </a>
        <nav class="header-menu__box">
          <ul class="header__menu header-menu">
            <li class="header-menu__item">
              <a href="trading.html" data-href="#trading" class="header-menu__link js_header-link"><span>Трейдинг</span></a>
            </li>
            <li class="header-menu__item">
              <a href="education.html" data-href="#education" class="header-menu__link js_header-link"><span>Обучение</span></a>
            </li>
            <li class="header-menu__item">
              <a href="javascript:void(0);" class="header-menu__link js_header-link"><span>Аналитика</span></a>
            </li>
            <li class="header-menu__item">
              <a href="javascript:void(0);" class="header-menu__link js_header-link"><span>О компании</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- end .header__base -->
      <!-- begin .header__aside -->
      <div class="header__aside flex">
        <!-- begin .header__search-action -->
        <button
          class="header__search-action search-action js_search-action"
          title="Язык">
          <span class="search-action__box">
            <span class="search-action__icon">
              <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.618 10.032a5.5 5.5 0 1 1 1.414-1.414l3.675 3.675-1.414 1.414-3.675-3.675zM5.5 9a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" fill="#A9B0B8"/></svg>
            </span>
            <span class="search-action__name">Поиск</span>
          </span>
        </button>
        <!-- end .header__search-action -->
        <!-- begin .header__language -->
        <div class="header__language">
          <!-- begin .header__language-action -->
          <button
            class="header__language-action language-action js_language-action"
            title="Язык">
            <span class="language-action__box">
              <span class="language-action__flag">
                <svg width="15" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M0 0h15v4H0z"/><path fill="#1DA2CB" d="M0 4h15v4H0z"/><path fill="#EA252C" d="M0 8h15v4H0z"/><path stroke="#F3F4F5" stroke-width=".5" d="M.25.25h14.5v11.5H.25z"/></svg>
              </span>
              <span class="language-action__icon">
                <svg width="9" height="6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.815 5.076L8.865.968a.446.446 0 0 0 0-.639C8.82.238 8.685.192 8.55.192a.406.406 0 0 0-.315.137L4.5 4.118.765.329A.406.406 0 0 0 .45.192.406.406 0 0 0 .135.33.417.417 0 0 0 0 .65c0 .137.045.228.135.32l4.05 4.107c.09.091.18.137.315.137s.27-.046.315-.137z" fill="currentColor"/>
                </svg>
              </span>
            </span>
          </button>
          <!-- end .header__language-action -->
          <!-- begin .header__language-list -->
          <ul class="header__language-list language-list js_language-list">
            <li class="language-list__item is-active">
              <a href="javascript:void(0);" class="language-list__link">
                <span class="language-list__flag">
                  <img src="assets/images/language/ru.png" alt="Русский язык">
                </span>
                <span class="language-list__name">Русский</span>
              </a>
            </li>
            <li class="language-list__item">
              <a href="javascript:void(0);" class="language-list__link">
                <span class="language-list__flag">
                  <img src="assets/images/language/en-gb.png" alt="English language">
                </span>
                <span class="language-list__name">English</span>
              </a>
            </li>
          </ul>
          <!-- end .header__language-list -->
        </div>
        <!-- end .header__language -->
        <!-- begin .header__user-action -->
        <div class="header__user-action">
          <a href="javascript:void(0);" class="user-action js_user-action">
            <span class="user-action__icon">
              <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C3.375 0 0 3.375 0 7.5S3.375 15 7.5 15 15 11.625 15 7.5 11.625 0 7.5 0zm0 2.25c1.275 0 2.25.975 2.25 2.25S8.775 6.75 7.5 6.75 5.25 5.775 5.25 4.5s.975-2.25 2.25-2.25zm0 11.427c-2.426 0-4.099-1.31-5.074-2.736C3.75 8.824 6 8.382 7.5 8.382s3.75.662 5.073 2.56c-.975 1.424-2.647 2.735-5.073 2.735z" fill="currentColor"/></svg>
            </span>
            <span class="user-action__name">Войти</span>
          </a>
        </div>
        <!-- end .header__user-action -->
      </div>
      <!-- end .header__aside -->
    </div>
    <!-- end .header__wrap -->
  </div>
  <!-- end .header__main -->
  <!-- begin .header__cloud -->
  <div class="header__cloud header-cloud js_header__cloud">
    <!-- begin .header__wrap -->
    <div class="header__wrap header-cloud__wrap">
      <!-- begin .header__finder -->
      <div class="header__finder">
        <!-- begin .header__finder-item -->
        <div id="trading" class="header__finder-item"></div>
        <!-- end .header__finder-item -->
        <!-- begin .header__finder-item -->
        <div id="education" class="header__finder-item"></div>
        <!-- end .header__finder-item -->
      </div>
      <!-- end .header__finder -->

      <!-- begin .header__user -->
      <div class="header__user header-user js_header__user">
        <form action="" class="header-user__form">
          <!-- begin .form-caption -->
          <div class="form-caption">
            <h3 class="h3">Вход в vizavi</h3>
            <p>Если вы наш клиент, введите логин и пароль. Если еще нет — зарегистрируйтесь.</p>
          </div>
          <!-- end .form-caption -->
          <!-- begin .flex -->
          <div class="flex form-row">
            <!-- begin .form-group -->
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Логин"
              >
            </div>
            <!-- end .form-group -->
            <!-- begin .form-group -->
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Пароль"
              >
            </div>
            <!-- end .form-group -->
            <!-- begin .form-action -->
            <div class="form-action">
              <button class="button button-red">Войти</button>
            </div>
            <!-- end .form-action -->
          </div>
          <!-- end .flex -->
          <!-- begin .form-more -->
          <div class="form-more">
            <p><a href="">Зарегистрироваться</a></p>
          </div>
          <!-- end .form-more -->
        </form>
      </div>
      <!-- end .header__user -->
      <!-- begin .header__search -->
      <div class="header__search">header__search</div>
      <!-- end .header__search -->
    </div>
    <!-- end .header__wrap -->
  </div>
  <!-- end .header__cloud -->
</header>
