.header-toggle {
  width: 60px;
  height: 60px;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  display: none;
  visibility: hidden;
  opacity: 0;

  &:hover .toggle-button__item {
    background-color: #EA252C;
  }

  &.is-active .toggle-button {

    &__item {
      background-color: #000000;

      &:nth-child(1) {
        transform: translate(0px, 9px) rotate(45deg);
      }

      &:nth-child(2) {
        background-color: #000000;
        opacity: 0;
        transform: translate(0px, 0px);
      }

      &:nth-child(3) {
        transform: translate(0px, -9px) rotate(-45deg);
      }
    }
  }

  @media #{$mobile} {
    width: 75px;
  }
  @media #{$mobile-big} {
    margin-left: 30px;
  }
  @media #{$tablet} {
  }

  @each $devide-width in $mobile, $mobile-big, $tablet {
    @media #{$devide-width} {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
}

.toggle-button {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: column;
  width: 30px;
  height: 20px;
  transition: all .3s linear;
  position: relative;
  justify-content: space-between;

  &__item {
    background-color: #000000;
    height: 2px;
    width: 30px;
    transition: all .3s linear;
    position: relative;

    &:nth-child(2) {
      width: 24px;
    }
  }

  &:hover .toggle-button__item {
    background-color: #EA252C;
  }
}
