.text-terminal {
  padding-top: 80px;
  padding-bottom: 80px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    @media #{$xs} {
      max-width: $max-width-sx;
    }
    @media #{$sm} {
      max-width: $max-width-sm;
    }
    @media #{$md} {
    }
  }

  .intro-box {
    padding-left: 100px;
    padding-right: 100px;
  }

  .icon-cards {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
