<!-- begin .text-terminal -->
<div class="text-terminal">
  <!-- begin .text-terminal__wrap -->
  <div class="text-terminal__wrap">
    <!-- begin .text-terminal__content -->
    <div class="text-terminal__content">
      <!-- begin .intro-box -->
      <div class="intro-box">
        <h2 class="h2"><span>Больше,</span> чем просто торговый терминал</h2>
        <p>Получите доступ к&nbsp;<strong>самым прогрессивным алгоритмам</strong> обработки операций, <strong>лучшую скорость и&nbsp;непревзойденное удобство проведения сделок</strong>.</p>
      </div>
      <!-- end .intro-box -->
    </div>
    <!-- end .text-terminal__content -->

    {% include "components/icon-cards/icon-cards-terminal.html" %}
  </div>
  <!-- end .text-terminal__wrap -->
</div>
<!-- end .text-terminal -->
