<!-- begin .double-background -->
<div class="double-background">
  <!-- begin .double-background__wrap -->
  <div class="double-background__wrap flex">
    <!-- begin .col-half -->
    <div class="col-half flex flex-center double-background__caption">
      <h2 class="h2">Доверие и лояльность клиентов поддерживают нас на дальнейшем пути к изменениям и инновациям</h2>
    </div>
    <!-- end .col-half -->
    <!-- begin .col-half -->
    <div class="col-half flex flex-center double-background__info">
      <p><strong>Vizavi постоянно развивает и расширяет линейку предоставляемых сервисов</strong>, что позволяет клиентам компании получать полный спектр финансовых услуг: от ежедневной аналитики до составления инвестиционной стратегии. Уделяя особое внимание инновациям, мы стремимся предлагать <strong>максимальные преимущества и удобства</strong>.</p>
    </div>
    <!-- end .col-half -->
  </div>
  <!-- end .double-background__wrap -->
</div>
<!-- end .double-background -->
