.advantage-terminal {
  background-color: #F3F4F5;
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;

    @media #{$xs} {
      max-width: $max-width-sx;
    }
    @media #{$sm} {
      max-width: $max-width-sm;
    }
    @media #{$md} {
    }
  }

  .intro-box {
    padding-left: 100px;
    padding-right: 100px;

    p span {
      display: block;
    }
  }

  &__cards {
    padding-top: 70px;
  }
}
