<!-- begin .advantage-terminal -->
<div class="advantage-terminal">
  <!-- begin .advantage-terminal__wrap -->
  <div class="advantage-terminal__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box">
      <h2 class="h2"><span>Преимущества</span> MetaTrader 5</h2>
      <p>MetaTrader 5&nbsp;&mdash; это <strong>лучший выбор современного трейдера</strong>. <span>Торгуйте на&nbsp;финансовых рынках, используя <strong>широкие возможности мобильной и&nbsp;алгоритмической торговли, аналитики, социального трейдинга и&nbsp;технического анализа</strong>.</span></p>
    </div>
    <!-- end .intro-box -->
    <!-- begin .advantage-terminal__cards -->
    <div class="advantage-terminal__cards advantage-cards">
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="64" height="62">
              <use xlink:href="#i_settings" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Гибкая настройка параметров торговли</div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="64" height="64">
              <use xlink:href="#i_analytics-color" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Расширенные возможности копи- и алготрейдинга </div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="55" height="64">
              <use xlink:href="#i_multitesting" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Тестирование мультивалютных стратегий</div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="68" height="73">
              <use xlink:href="#i_cross-platform" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Профессиональный анализ рынков</div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="74" height="67">
              <use xlink:href="#i_multicurrency" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Мобильное приложение для iOS и Android</div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
      <!-- begin .advantage-card -->
      <div class="advantage-card">
        <!-- begin .advantage-card__box -->
        <div class="advantage-card__box">
          <!-- begin .advantage-card__icon -->
          <div class="advantage-card__icon">
            <svg width="62" height="56">
              <use xlink:href="#i_target-width-bag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .advantage-card__icon -->
          <!-- begin .advantage-card__name -->
          <div class="advantage-card__name">Встроенные финансовые новости и экономический календарь</div>
          <!-- end .advantage-card__name -->
        </div>
        <!-- end .advantage-card__box -->
      </div>
      <!-- end .advantage-card -->
    </div>
    <!-- end .advantage-terminal__cards -->
  </div>
  <!-- end .advantage-terminal__wrap -->
</div>
<!-- end .advantage-terminal -->
