<!-- begin .business-model -->
<div class="business-model">
  <!-- begin .business-model__wrap -->
  <div class="business-model__wrap">
    <!-- begin .intro-box -->
    <div class="intro-box text-left">
      <h2 class="h2">Модель бизнеса</h2>
    </div>
    <!-- end .intro-box -->
    <!-- begin .business-model__bg -->
    <div class="business-model__bg flex flex-stretch">
      <!-- begin .business-model__quote -->
      <div class="business-model__quote flex flex-center">
        <blockquote class="blockquote">
          <p>Быть на&nbsp;шаг впереди лидеров позволяет не&nbsp;шумиха в&nbsp;прессе, а&nbsp;соответствие технической оснащенности компании реалиям рынка. Большинство &laquo;кричащих&raquo; лидеров&nbsp;&mdash; вымирающие классики, мы&nbsp;же&nbsp;&mdash; стабильные инноваторы</p>
          <footer>
            <cite>Чарльз Кейн</cite>
          </footer>
        </blockquote>
      </div>
      <!-- end .business-model__quote -->
      <!-- begin .business-model__info -->
      <div class="business-model__info flex flex-center">
        <p>Каждый день сотрудники Vizavi осваивают пространство неизведанного, чтобы открыть новый потенциал и&nbsp;предложить клиентам&nbsp;то, чего нет у&nbsp;других компаний. <strong>Добиться успеха в&nbsp;бизнесе, где каждый брокер похож на&nbsp;десятки других, можно только благодаря инновационной деятельности и&nbsp;выполнению обширных обязательств.</strong> Для этого в&nbsp;Vizavi разработали модель бизнеса, которая, с&nbsp;одной стороны, впитала в&nbsp;себя все лучшие практики предшественников, с&nbsp;другой, учла негативный опыт, накопленный в&nbsp;сфере за&nbsp;десятки лет.</p>
      </div>
      <!-- end .business-model__info -->
    </div>
    <!-- end .business-model__bg -->
  </div>
  <!-- end .business-model__wrap -->
</div>
<!-- end .business-model -->
