<!-- begin .partners-info -->
<div class="partners-info">
  <!-- begin .partners-info__wrap -->
  <div class="partners-info__wrap">

    <!-- begin .partners-info__info -->
    <div class="partners-info__info">
      <!-- begin .partners-info__cloud -->
      <div class="partners-info__cloud">
        <!-- begin .partners-info__cloud-box -->
        <div class="partners-info__cloud-box">
          <!-- begin .partners-info__cloud-icon -->
          <div class="partners-info__cloud-icon">
            <svg width="62" height="75">
              <use xlink:href="#i_diamond" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <!-- end .partners-info__cloud-icon -->
          <!-- begin .partners-info__cloud-content -->
          <div class="partners-info__cloud-content">
            <p><strong>Партнерская программа Vizavi&nbsp;&mdash; это ваш высокодоходный бизнес в&nbsp;сфере онлайн-трейдинга</strong>. Вам не&nbsp;нужен крупный стартовый капитал или специальное образование, чтобы получать стабильный пассивный доход. Просто зарегистрируйтесь в&nbsp;качестве партнера Vizavi и&nbsp;<strong>зарабатывайте до&nbsp;50% от&nbsp;прибыли каждого привлеченного клиента</strong>.</p>
          </div>
          <!-- end .partners-info__cloud-content -->
        </div>
        <!-- end .partners-info__cloud-box -->
      </div>
      <!-- end .partners-info__cloud -->

      <!-- begin .partners-info__remuneration -->
      <div class="partners-info__remuneration">
        <!-- begin .partners-info__remuneration-box -->
        <div class="partners-info__remuneration-box">
          <p>Резервный фонд Vizavi для выплаты партнерских вознаграждений <strong>составляет 10,000,000$</strong></p>
        </div>
        <!-- end .partners-info__remuneration-box -->
      </div>
      <!-- end .partners-info__remuneration -->
    </div>
    <!-- end .partners-info__info -->
  </div>
  <!-- end .partners-info__wrap -->
</div>
<!-- end .partners-info -->
