.partners-info {
  padding-top: 80px;
  padding-bottom: 150px;
  font-family: 'Roboto';

  &__wrap {
    max-width: 1180px;
    margin: 0 auto;
  }

  &__info {
    position: relative;
  }

  &__cloud {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .1));

    &-box {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 60px 60px;
      background-color: #fff;
      clip-path: polygon(
        0 0,
        100% 0%,
        calc(100% - 30px) 100%,
        0 100%
      );
    }

    &-icon {
      margin-right: 45px;
    }

    &-content {
      font-size: 18px;
      line-height: 160%;
      color: #222B34;

      p {
        margin-bottom: 0;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  &__remuneration {
    position: absolute;
    right: -60px;
    bottom: -100px;
    width: auto;

    &-box {
      background-color: #EA252C;
      padding: 40px 70px 70px 70px;
      clip-path: polygon(
        0 0,
        100% 0,
        98% 70%,
        0% 100%
      );

      p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;

        strong {
          font-weight: bold;
          font-size: 22px;
          display: block;
        }
      }
    }
  }
}
